# Tables
- Number of all and valid gages: US, HUC2, aquifer
- Distribution of HMF metrics: US, HUC2, aquifer
- Gages with the highest annual volume

In [2]:
# IMPORTS
import os
import numpy as np
import pandas as pd
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
#import contextily as cx
import requests
import calendar
from importlib import reload

from datetime import datetime, timedelta
from shapely.geometry import Point
from io import StringIO
from mpl_toolkits.axes_grid1 import make_axes_locatable

# USGS Data retreival tool
from dataretrieval import nwis, utils, codes

# Custom modules are imported in multiple locations to faciliate easy reloading when edits are made to their respective files
import Src.classes as cl
import Src.func_ko as fn
reload(cl)
reload(fn)

### Import national metrics

In [4]:
# All gages - National metrics dfs
# data_paths = {
#     '30_90': 'Prelim_Data/National_Metrics/National_Metrics_30_90.xlsx',
#     '50_90': 'Prelim_Data/National_Metrics/National_Metrics_50_90.xlsx',
#     '30_95': 'Prelim_Data/National_Metrics/National_Metrics_30_95.xlsx',
#     '50_95': 'Prelim_Data/National_Metrics/National_Metrics_50_95.xlsx'    
# }

#dfs_metrics = {key: pd.read_excel(path, sheet_name='site_metrics') for key, path in data_paths.items()}

data_paths = {
    '30_90': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_30_90.xlsx',
    '50_90': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_50_90.xlsx',
    '30_95': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_30_95.xlsx',
    '50_95': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_50_95.xlsx'    
}

dfs_valid = {key: pd.read_excel(path) for key, path in data_paths.items()}

In [6]:
# # Converts site_no to strings
# date_ranges = ['30', '50']
# percentiles = ['90', '95']
# for date_range in date_ranges:
#     for percentile in percentiles: 
#         # Assuming df is your DataFrame and 'column_name' is the name of the column with numbers
#         dfs_metrics[f'{date_range}_{percentile}']['site_no'] = dfs_metrics[f'{date_range}_{percentile}']['site_no'].astype(str)  # Convert numbers to strings

#         # Add leading '0' to numbers with 7 digits
#         dfs_metrics[f'{date_range}_{percentile}']['site_no'] = dfs_metrics[f'{date_range}_{percentile}']['site_no'].apply(lambda x: '0' + x if len(x) == 7 else x)

# Converts site_no to strings
date_ranges = ['30', '50']
percentiles = ['90', '95']
for date_range in date_ranges:
    for percentile in percentiles: 
        # Assuming df is your DataFrame and 'column_name' is the name of the column with numbers
        dfs_valid[f'{date_range}_{percentile}']['site_no'] = dfs_valid[f'{date_range}_{percentile}']['site_no'].astype(str)  # Convert numbers to strings

        # Add leading '0' to numbers with 7 digits
        dfs_valid[f'{date_range}_{percentile}']['site_no'] = dfs_valid[f'{date_range}_{percentile}']['site_no'].apply(lambda x: '0' + x if len(x) == 7 else x)

In [7]:
# Valid gages - National metrics dfs
dfs_valid = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        dfs_valid[f'{date_range}_{percentile}'] = dfs_metrics[f'{date_range}_{percentile}'][dfs_metrics[f'{date_range}_{percentile}']['valid'] == True]

In [67]:
from datetime import datetime, timedelta

def convert_day_of_year(day_number, base_year=2023):
    # Calculate the start date (October 1 of the base year)
    start_date = pd.to_datetime(f"{base_year}-10-01")
    
    # Adjust the day number by subtracting 1 to account for the start date
    adjusted_day_number = day_number - 0
    
    # Calculate the final date by adding the adjusted day number to the start date
    final_date = start_date + pd.DateOffset(days=adjusted_day_number)
    
    return final_date

convert_day_of_year(233)

# for date_range in date_ranges:
#     for percentile in percentiles: 
#         dfs_valid[f'{date_range}_{percentile}']['timing'] = pd.to_numeric(dfs_valid[f'{date_range}_{percentile}']['timing'])
#         dfs_valid[f'{date_range}_{percentile}']['timing'] = dfs_valid[f'{date_range}_{percentile}']['timing'].round()
#         dfs_valid[f'{date_range}_{percentile}']['com_date'] = convert_day_of_year(dfs_valid[f'{date_range}_{percentile}']['timing'].apply(convert_day_of_year))

Timestamp('2024-05-21 00:00:00')

In [ ]:
## Aquifer gages
dfs_valid['30_90']['within_aq'].unique()

aq_names_25 = ['Southeastern Coastal Plain aquifer system',
       'Coastal lowlands aquifer system', 'Floridan aquifer system',
       'Valley and Ridge aquifers',
       'Piedmont and Blue Ridge crystalline-rock aquifers',
       'Mississippi embayment aquifer system',
       'Basin and Range basin-fill aquifers',
       'Mississippi River Valley alluvial aquifer',
       'Pacific Northwest basin-fill aquifers',
       'California Coastal Basin aquifers',
       'Central Valley aquifer system',
       'Pacific Northwest basaltic-rock aquifers',
       'Northern Atlantic Coastal Plain aquifer system',
       'Surficial aquifer system', 'Biscayne aquifer',
       'Northern Rocky Mountains Intermontane Basins aquifer system',
       'Snake River Plain basaltic-rock aquifers',
       'Columbia Plateau basaltic-rock aquifers',
       'Cambrian-Ordovician aquifer system', 'Silurian-Devonian aquifers',
       'Lower Cretaceous aquifers', 'High Plains aquifer',
       'Rio Grande aquifer system', 'Edwards-Trinity aquifer system',
       'Willamette Lowland basin-fill aquifers']

dfs_aq = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        dfs_aq[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25)]
print(len(dfs_aq['30_90']))

In [13]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_all_gages_{date_range}_{percentile}.xlsx'
        dfs_aq[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Sort by outlet gages

In [68]:
# Outlet gages by aquifer
br_outlet_gages = ['09520500', '09429600', '09521100', '09519800', '09468500', '09423000', '10327500', '10351650', '10351650', '10311400']
cc_outlet_gages = ['11023000', '11046000', '11078000', '11087020', '11133000', '11140000', '11152500', '11159000', '11467000', '11477000', '11530500', '11532500']
cv_outlet_gages = ['11303500', '11447650']
cl_outlet_gages = ['08211000', '08188500', '08176500', '08164000', '08162000', '08116650', '08066500', '08033500', '08068000', '08030500',
      '08013500', '08012000', '07378500', '02492000', '02489500', '02479000', '02479300', '02469761', '02428400', '02375500']
fl_outlet_gages = ['02368000', '02365500', '02358000', '02320500', '02313230']
hp_outlet_gages = ['06465500', '06805500', '06853500', '06884000', '07144550', '07158000', '07237500', '07228000', '07297910', '08123850']
mr_outlet_gages = ['07077000', '07077555', '07047942', '07369000', '07369000', '07285500', '07268000']
na_outlet_gages = ['02105769', '02089500', '02091500', '02083500',  '02085000', '02052000', '02047000', '02049500',  '02041650', '02037500', '01668000', 
      '01673000',  '01646500', '01578310', '01474500',  '01463500']
pn_outlet_gages = ['11039800', '12200500', '12040500', '14211720',  '14372300']
sr_outlet_gages = ['13269000']
cp_outlet_gages = ['13342500', '13334300', '12472800', '12510500', '13351000', '14033500', '14048000', '14103000']
rg_outlet_gages = ['08319000']
me_outlet_gages = ['07029500', '07268000', '07283000', '07285500', '07289350', '02482550', '02477000', '02469761', '02428400', 
                   '07362000', '07363500', '07348700']
co_outlet_gages = ['05378500', '05407000', '05437500', '04082400']
sc_outlet_gages = ['02130561', '02171500', '02197000', '02223248', '02343801', '02467000']
bi_outlet_gages = ['02287497', '02289060', '02290765', '02290769']
et_outlet_gages = ['07337000', '08062700', '08159200', '08168500']
rm_outlet_gages = ['12389000', '06066500', '13302500']
pb_outlet_gages = ['02341475', '02339500', '02347500', '02213000', '02223000', '02197000', '02169500', 
'02148000', '02130561', '02102500', '02089000', '02083500' ,'02080500', '01646500', '01578310']
sa_outlet_gages = ['02359170', '02243960', '02296750', '02292900', '02226000', '02202500', '02198500', '02175000', '02171645']
vr_outlet_gages = ['02388500', '02397000', '03513000', '03455000', '03168000', '02019500', '01638500', '01570500']
sd_outlet_gages = ['05465500', '05420500', '05527500', '03335500']
pnb_outlet_gages = ['13087995', '12395500']
wl_outlet_gages = ['14211720']
lc_outlet_gages = ['05476750', '05479000', '05482300', '05483450', '06602020', '06606600', '06607200',
       '06809210', '06486000', '06601200', '06864500', '06865500', '06868200', '06869500',
       '06876700', '06884025', '06884200', '05061500', '05304500', '05313500', '05317000',
       '05476000', '06078200', '06090300', '06200000', '06601000', '06803000', '06803500',
       '06803510', '06803530', '06804000', '06881000', '05085000', '06395000', '06400000',
       '06402500', '06406000', '06414000', '06430500', '06433000', '06436000', '06436190',
       '06429997', '06279500', '06634620']

outlet_gages_dict_10 = {
    'br': br_outlet_gages, 
    'cc': cc_outlet_gages,
    'cv': cv_outlet_gages,
    'cl': cl_outlet_gages,
    'fl': fl_outlet_gages,
    'hp': hp_outlet_gages,
    'mr': mr_outlet_gages,
    'na': na_outlet_gages,
    'pn': pn_outlet_gages,
    'sr': sr_outlet_gages
}

outlet_gages_dict_25 = {
    'br': br_outlet_gages, 
    'cc': cc_outlet_gages,
    'cv': cv_outlet_gages,
    'cl': cl_outlet_gages,
    'fl': fl_outlet_gages,
    'hp': hp_outlet_gages,
    'mr': mr_outlet_gages,
    'na': na_outlet_gages,
    'pn': pn_outlet_gages,
    'sr': sr_outlet_gages,
    'cp': cp_outlet_gages,
    'rg': rg_outlet_gages,
    'me': me_outlet_gages,
    'co': co_outlet_gages,
    'sc': sc_outlet_gages,
    'bi': bi_outlet_gages,
    'et': et_outlet_gages,
    'rm': rm_outlet_gages,
    'pb': pb_outlet_gages,
    'sa': sa_outlet_gages,
    'vr': vr_outlet_gages,
    'sd': sd_outlet_gages,
    'pnb': pnb_outlet_gages,
    'wl': wl_outlet_gages,
    'lc': lc_outlet_gages}

aq_names_10 = {'hp': 'High Plains aquifer',
                'mr': 'Mississippi River Valley alluvial aquifer',
                'cv': 'Central Valley aquifer system',
                'br': 'Basin and Range basin-fill aquifers',
                'fl': 'Floridan aquifer system',
                'sr': 'Snake River Plain basaltic-rock aquifers',
                'cl': 'Coastal lowlands aquifer system',
                'cc': 'California Coastal Basin aquifers', 
                'pn': 'Pacific Northwest basin-fill aquifers',
                'na': 'Northern Atlantic Coastal Plain aquifer system'}

aq_names_25 = {'hp': 'High Plains aquifer',
                'mr': 'Mississippi River Valley alluvial aquifer',
                'cv': 'Central Valley aquifer system',
                'br': 'Basin and Range basin-fill aquifers',
                'fl': 'Floridan aquifer system',
                'sr': 'Snake River Plain basaltic-rock aquifers',
                'cl': 'Coastal lowlands aquifer system',
                'cc': 'California Coastal Basin aquifers', 
                'pn': 'Pacific Northwest basin-fill aquifers',
                'na': 'Northern Atlantic Coastal Plain aquifer system',
                'cp': 'Columbia Plateau basaltic-rock aquifers',
                'rg': 'Rio Grande aquifer system',
                'me': 'Mississippi embayment aquifer system',
                'co': 'Cambrian-Ordovician aquifer system',
                'sc': 'Southeastern Coastal Plain aquifer system',
                'bi': 'Biscayne aquifer',
                'et': 'Edwards-Trinity aquifer system',
                'rm': 'Northern Rocky Mountains Intermontane Basins aquifer system',
                'pb': 'Piedmont and Blue Ridge crystalline-rock aquifers',
                'sa': 'Surficial aquifer system',
                'vr': 'Valley and Ridge aquifers',
                'sd': 'Silurian-Devonian aquifers',
                'pnb': 'Pacific Northwest basaltic-rock aquifers',
                'wl': 'Willamette Lowland basin-fill aquifers',
                'lc': 'Lower Cretaceous aquifers'
              }

aq_codes_10 = ['hp', 'mr', 'cv', 'br', 'fl', 'sr', 'cl', 'cc', 'pn', 'na']

aq_codes_25 = ['hp', 'mr', 'cv', 'br', 'fl', 'sr', 'cl', 'cc', 'pn', 'na',
              'cp', 'rg', 'me', 'co', 'sc', 'bi', 'et', 'rm', 'pb', 'sa',
              'vr', 'sd', 'pnb', 'wl', 'lc']

### Sort by outlet gages

In [20]:
df_outlet_gages = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        df_outlet_gages_aq = {}
        df_temp = dfs_valid[f'{date_range}_{percentile}']

        for key, value in outlet_gages_dict_25.items():
            df_outlet_gages_aq[key] = df_temp[df_temp['site_no'].isin(value)].copy()
            # Add the key as a column to each DataFrame
            df_outlet_gages_aq[key].loc[:, 'aq'] = aq_names_25[key]

            #print(df_outlet_gages_aq)
       
        df_outlet_gages[f'{date_range}_{percentile}'] = df_outlet_gages_aq

In [21]:
# Save df of all outlet gages to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_outlet_gages_{date_range}_{percentile}.xlsx'
        pd.concat(df_outlet_gages[f'{date_range}_{percentile}'].values(), ignore_index=True).to_excel('Tables/'+file_name)

### Tables for mean HMF metrics at aquifer OUTLET gages

In [51]:
# Mean HMF metrics: OUTLET GAGES (by aquifer)
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf']

df_mean_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        data = {metric: [] for metric in metric_list}
        
        # Loop through each aq code and metric to calculate the average and store in the dictionary
        for aq in aq_codes_25:
            for metric in metric_list:
                avg = df_outlet_gages[f'{date_range}_{percentile}'][aq][metric].mean()
                data[metric].append(avg)
        
        # Convert the dictionary to a DataFrame
        df_mean_metrics[f'{date_range}_{percentile}'] = pd.DataFrame(data, index=list(aq_names_25.values())) # index can also =aq_codes_25

In [52]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_outlet_{date_range}_{percentile}.xlsx'
        df_mean_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for sum of annual HMF at aquifer OUTLET gages

In [53]:
# Sum of annual HMF: OUTLET gages (by aquifer)
metric = 'annual_hmf'
df_sum_annual_hmf = {}
for date_range in date_ranges:
    for percentile in percentiles:

        # Loop through each aq code to calculate the sum of the annual_hmf
        sum_list = []
        for aq in aq_codes_25:
            sums = df_outlet_gages[f'{date_range}_{percentile}'][aq][metric].sum()
            sum_list.append(sums)
            
        df_sum_annual_hmf[f'{date_range}_{percentile}'] = pd.DataFrame(sum_list, list(aq_names_25.values()))

In [54]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_annual_hmf_sum_outlet_{date_range}_{percentile}.xlsx'
        df_sum_annual_hmf[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for mean HMF metrics at ALL aquifer gages

In [55]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'within_aq']
print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_mean_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_mean_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('within_aq').mean()

Number of gages in 25 most pumped aqs: 1299

In [56]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_all_{date_range}_{percentile}.xlsx'
        df_mean_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Boxplots

In [11]:
metric = 'timing'
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing']
aq_colors = ['red', 'blue', 'green', 'yellow', 'orange', 'purple', 'cyan', 'magenta', 'lime', 'pink']
alpha_list = [0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8]
date_range = '30'
percentile = '90'

def outlet_gages_metrics_boxplot(metric, date_range, percentile):
    fig, ax = plt.subplots(figsize=(18, 6))
    # plt.boxplot([df_outlet_gages[f'{date_range}_{percentile}']['hp'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['mr'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cv'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['br'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['fl'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['sr'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cl'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cc'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['pn'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['na'][metric]
    #             ])

    for j, aq_code in enumerate(aq_codes):
        ax.boxplot(df_outlet_gages[f'{date_range}_{percentile}'][aq_code][metric], positions=[j], widths=0.6, patch_artist=True,
                boxprops=dict(facecolor=aq_colors[j], alpha=alpha_list[j]), 
                medianprops=dict(color='#000000'),
                showmeans=True, meanprops={"marker":"x", "markeredgecolor":"black", "markersize":"10"})

    tick_labels = ['High Plains',
                    'Mississippi \n River Valley',
                    'Central Valley ',
                    'Basin and \n Range',
                    'Floridan',
                    'Snake River \n Plain',
                    'Coastal \n Lowlands',
                    'California \n Coastal Basin ', 
                    'Pacific \n Northwest ',
                    'Northern Atlantic \n Coastal Plain']

    plt.xticks([0,1,2,3,4,5,6,7,8,9], tick_labels, fontsize=14)
    plt.tick_params(axis='y', which='major', labelsize=18)
    plt.ylabel(f'{fn.FLOW_METRIC_UNITS[metric]}', fontsize=20)
    plt.title(f'{fn.FLOW_METRIC_UNITS[metric]} ({date_range}-Year Record, {percentile}th Percentile)', fontsize=24)

    plt.savefig(f'Saved_Visuals/Aquifers/HMF_metrics/boxplots_{metric}_{date_range}_{percentile}.png', bbox_inches='tight')

    plt.show()
    return
              
# for date_range in date_ranges:
#     for percentile in percentiles:
#         for metric in metric_list:
#               outlet_gages_metrics_boxplot(metric, date_range, percentile)

### Sort by HUC2

In [12]:
df_temp = dfs_valid['30_90']
huc2_codes = dfs_valid['30_90']['huc2_code'].unique().tolist()
#huc2_codes
dict_huc2 = {}
for huc2_code in huc2_codes:
    dict_huc2[huc2_code] = df_temp[df_temp['huc2_code'] == huc2_code]['site_no'].unique().tolist()
#dict_huc2

In [13]:
df_huc2_gages = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        df_huc2_huc = {}
        df_temp = dfs_valid[f'{date_range}_{percentile}']

        for key, value in dict_huc2.items():
            df_huc2_huc[key] = df_temp[df_temp['site_no'].isin(value)]
       
        df_huc2_gages[f'{date_range}_{percentile}'] = df_huc2_huc

In [14]:
huc2_codes = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
colors = ['red', 'blue', 'green', 'yellow', 'orange', 'purple', 'cyan', 'magenta', 'lime', 'pink',
               'teal', 'lavender', 'brown', 'black', 'maroon', 'lightblue', 'coral', 'olive']
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing']

def huc2_gages_metrics_boxplot(metric, date_range, percentile):
    fig, ax = plt.subplots(figsize=(20, 6))
    # plt.boxplot([df_huc2_gages[f'{date_range}_{percentile}'][1][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][2][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][3][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][4][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][5][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][6][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][7][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][8][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][9][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][10][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][11][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][12][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][13][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][14][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][15][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][16][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][17][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][18][metric]
    #             ])

    for j, code in enumerate(huc2_codes):
        ax.boxplot(df_huc2_gages[f'{date_range}_{percentile}'][code][metric], positions=[j], widths=0.6, patch_artist=True,
                boxprops=dict(facecolor=colors[j]), #alpha=alpha_list[j]), 
                medianprops=dict(color='#000000'),
                showmeans=True, meanprops={"marker":"x", "markeredgecolor":"black", "markersize":"10"})

    tick_labels = ['HUC1', 'HUC2', 'HUC3', 'HUC4', 'HUC5', 'HUC6', 'HUC7', 'HUC8', 'HUC9',
                   'HUC10', 'HUC11', 'HUC12', 'HUC13', 'HUC14', 'HUC15', 'HUC16', 'HUC17', 'HUC18']

    plt.xticks([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17], tick_labels, fontsize=14)
    plt.tick_params(axis='y', which='major', labelsize=18)
    plt.ylabel(f'{fn.FLOW_METRIC_UNITS[metric]}', fontsize=20)
    plt.title(f'{fn.FLOW_METRIC_UNITS[metric]} ({date_range}-Year Record, {percentile}th Percentile)', fontsize=24)

    plt.savefig(f'Saved_Visuals/HUC2/HMF_metrics/boxplots_{metric}_{date_range}_{percentile}.png', bbox_inches='tight')

    plt.show()
    return

# for date_range in date_ranges:
#     for percentile in percentiles:
#         for metric in metric_list:
#               huc2_gages_metrics_boxplot(metric, date_range, percentile)

## Count valid gages

In [41]:
df_gages_count = pd.DataFrame()
all_30 = len(dfs_metrics['30_90'])
all_50 = len(dfs_metrics['50_90'])
valid_30 = len(dfs_valid['30_90'][dfs_valid['30_90']['valid'] == True])
valid_50 = len(dfs_valid['50_90'][dfs_valid['50_90']['valid'] == True])
df_gages_count['data_range'] = ['30', '50']
df_gages_count['all_gages'] = [all_30, all_50]
df_gages_count['valid_gages'] = [valid_30, valid_50]
df_gages_count

  data_range  all_gages  valid_gages
0         30       7914         4242
1         50       7914         3314

In [35]:
date_range = '30'
percentile = '90'
df_aq_count_30_90 = pd.DataFrame()

num_gages_aq = []
num_gages_aq_outlet = []
for aq in aq_codes:
    num_gages_aq.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]))
    num_gages_aq_outlet.append(len(df_outlet_gages[f'{date_range}_{percentile}'][aq]))

df_aq_count_30_90['aq'] = aq_names_10.keys()    
df_aq_count_30_90['valid_all'] = num_gages_aq
df_aq_count_30_90['valid_outlet'] = num_gages_aq_outlet

date_range = '50'
percentile = '90'
df_aq_count_50_90 = pd.DataFrame()

num_gages_aq = []
num_gages_aq_outlet = []
for aq in aq_codes:
    num_gages_aq.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]))
    num_gages_aq_outlet.append(len(df_outlet_gages[f'{date_range}_{percentile}'][aq]))

df_aq_count_50_90['aq'] = aq_names_10.keys()    
df_aq_count_50_90['valid_all'] = num_gages_aq
df_aq_count_50_90['valid_outlet'] = num_gages_aq_outlet

In [36]:
print(df_aq_count_30_90)
print(df_aq_count_50_90)

   aq  valid_all  valid_outlet
0  hp         71            11
1  mr         15             6
2  cv         20             2
3  br        134             9
4  fl         47             5
5  sr          9             1
6  cl        106            20
7  cc         65            12
8  pn         65             4
9  na         92            16
   aq  valid_all  valid_outlet
0  hp         63            11
1  mr         11             3
2  cv         17             2
3  br         90             7
4  fl         34             5
5  sr          6             1
6  cl         90            20
7  cc         55            11
8  pn         52             4
9  na         72            15

In [42]:
date_range = '30'
percentile = '90'
df_huc2_count_30_90 = pd.DataFrame()

num_gages_huc2 = []
for huc2 in huc2_codes:
    num_gages_huc2.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]))

df_huc2_count_30_90['huc2'] = huc2_codes   
df_huc2_count_30_90['valid_all'] = num_gages_huc2

date_range = '50'
percentile = '90'
df_huc2_count_50_90 = pd.DataFrame()

num_gages_huc2 = []
for huc2 in huc2_codes:
    num_gages_huc2.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]))

df_huc2_count_50_90['huc2'] = huc2_codes      
df_huc2_count_50_90['valid_all'] = num_gages_huc2

In [47]:
print(df_huc2_count_30_90)
print(df_huc2_count_50_90)
print(df_huc2_count_30_90.sum())
print(df_huc2_count_50_90.sum())

    huc2  valid_all
0      1        164
1      2        440
2      3        549
3      4        234
4      5        324
5      6         47
6      7        319
7      8         49
8      9         60
9     10        399
10    11        259
11    12        211
12    13         71
13    14        159
14    15        147
15    16        127
16    17        446
17    18        237
    huc2  valid_all
0      1        144
1      2        360
2      3        361
3      4        184
4      5        289
5      6         38
6      7        255
7      8         46
8      9         53
9     10        312
10    11        197
11    12        177
12    13         61
13    14        119
14    15         99
15    16         90
16    17        328
17    18        201
huc2          171
valid_all    4242
dtype: int64
huc2          171
valid_all    3314
dtype: int64

## Import annual subdfs

In [65]:
subdfs_metrics_30_90 = pd.read_parquet(f'Prelim_Data/annual_metrics_subdf_30_90.parquet', engine='pyarrow') # only includes valid gages

In [90]:
test_df = subdfs_metrics_30_90[['site_no', 'water_year', 'annual_hmf']]
pivot_df = test_df.pivot(index='site_no', columns='water_year', values='annual_hmf')
pivot_df

water_year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
site_no,,,,,,,,,,,,,,,,,,,,,
01010000,0.748652,0.441949,0.430720,0.765338,0.251239,0.660845,0.706228,0.535800,0.186796,0.557501,...,1.004075,3.246850e-01,0.440261,0.568486,0.400088,0.225648,0.730817,0.920353,0.893979,0.601931
01010070,0.089350,0.077409,0.055046,0.109819,0.032152,0.097750,0.106775,0.076489,0.034719,0.072326,...,0.121326,6.393195e-02,0.064016,0.091186,0.058018,0.063367,0.137806,0.113423,0.108348,0.066785
01010500,1.490209,0.869758,0.860705,1.477976,0.524301,1.457425,1.489475,0.996246,0.433044,1.055942,...,1.864046,6.882217e-01,0.851408,1.251913,0.773852,0.624366,1.775969,1.690094,1.781596,1.159187
01011000,0.617682,0.242206,0.249509,0.535658,0.106394,0.427794,0.537750,0.401270,0.150004,0.510955,...,0.601466,2.112178e-01,0.235003,0.416512,0.248658,0.178030,0.559138,0.577957,0.522483,0.379469
01013500,0.365078,0.131626,0.126830,0.250064,0.111735,0.260340,0.352233,0.253025,0.089985,0.295595,...,0.274677,6.850412e-02,0.107429,0.238884,0.090450,0.112958,0.410095,0.428346,0.394535,0.170331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265501080364900,0.000000,0.000000,0.001703,0.000000,0.000000,0.001473,0.000000,0.000000,0.000000,0.007372,...,0.000000,0.000000e+00,0.026599,0.010978,0.005808,0.004553,0.002202,0.000000,0.000000,0.000000
393109104464500,NaN,0.002206,0.000607,0.000163,0.002542,0.000146,0.000516,0.005090,0.008260,0.001128,...,0.000314,7.821702e-04,0.000653,0.000000,0.003974,0.001431,0.000822,0.000127,0.001657,0.001510
394839104570300,NaN,0.006014,0.000869,0.001906,0.013830,0.004191,0.034095,0.004876,0.018420,0.004470,...,0.007535,4.181198e-03,0.024184,0.000000,0.011570,0.004061,0.002728,0.002640,0.002048,0.000847
401723105400000,0.000000,0.000053,0.000219,0.000106,0.000414,0.000396,0.000254,0.000283,0.000307,0.000103,...,0.000602,0.000000e+00,0.000219,0.000253,0.000333,0.000254,0.000266,0.000029,0.000317,0.000051
401733105392404,0.000424,0.000028,0.000494,0.000246,0.001003,0.000899,0.001172,0.000663,0.000862,0.000602,...,0.002080,7.339727e-07,0.000883,0.000752,0.001361,0.000744,0.001164,0.000123,0.001263,0.000296

In [93]:
nan_rows = pivot_df[pivot_df.isna().any(axis=1)]
len(nan_rows)

180

In [69]:
# Only 
len(list(subdfs_metrics_30_90['site_no'].unique()))
total_hmf_30_90 = subdfs_metrics_30_90['annual_hmf'].sum()
print(f'Total HMF (30-year, 90th percentile): {total_hmf_30_90} km3')

Total HMF (30-year, 90th percentile): 23658.686901018093 km3

## Sort data

In [81]:
data_range = '30'
percentile = '90'
top_50_annual_hmf = dfs_valid[f'{date_range}_{percentile}'].sort_values(by=['annual_hmf'], ascending=False)[0:50]
top_50_annual_hmf

,site_no,analyze_start,analyze_end,analyze_range,quantile,valid,missing_data%,threshold,hmf_years,annual_hmf,...,dec_lat_va,dec_long_va,data_start,data_end,total_record,state,huc2_code,huc4_code,within_aq,HCDN_2009
2381,07020500,1970-10-01,2020-09-30,50,0.9,True,0.000,449000.0,38,13.359526,...,37.900750,-89.830222,1942-07-01,2020-09-30,78.3,IL,7,714,NaN,False
2382,07022000,1970-10-01,2020-09-30,50,0.9,True,0.000,470000.0,39,12.755065,...,37.220250,-89.463167,1933-04-01,2020-09-30,87.5,IL,7,714,NaN,False
3936,07010000,1970-10-01,2020-09-30,50,0.9,True,0.000,429000.0,39,12.744965,...,38.629000,-90.179778,1900-10-01,2020-09-30,120.0,MO,7,714,NaN,False
2560,03303280,1975-10-01,2020-09-30,45,0.9,True,9.993,294000.0,45,10.179603,...,37.899501,-86.705542,1975-10-01,2020-09-30,45.0,IN,5,514,NaN,False
5833,14105700,1970-10-01,2020-09-30,50,0.9,True,0.000,295000.0,38,8.960390,...,45.608278,-121.189917,1900-10-01,2020-09-30,120.0,OR,17,1707,Columbia Plateau basaltic-rock aquifers,False
2969,03294500,1970-10-01,2020-09-30,50,0.9,True,0.005,298000.0,50,8.444502,...,38.280347,-85.799131,1928-01-01,2020-09-30,92.7,KY,5,514,NaN,False
2919,03277200,1970-10-01,2020-09-30,50,0.9,True,0.000,264000.0,50,7.180112,...,38.775342,-84.839115,1970-05-01,2020-09-30,50.4,KY,5,509,NaN,False
2893,03216600,1970-10-01,2020-09-30,50,0.9,True,0.022,201000.0,44,7.025286,...,38.646745,-82.860447,1968-10-01,2020-09-30,52.0,KY,5,509,NaN,False
2349,05587450,1970-10-01,2020-09-30,50,0.9,True,0.498,261000.0,41,6.802196,...,38.967972,-90.429000,1933-04-01,2020-09-30,87.5,IL,7,711,NaN,False
3920,06934500,1970-10-01,2020-09-30,50,0.9,True,0.000,182000.0,44,6.417090,...,38.709806,-91.438500,1928-10-01,2020-09-30,92.0,MO,10,1030,NaN,False
3875,06909000,1970-10-01,2020-09-30,50,0.9,True,0.000,140000.0,43,5.785924,...,38.980306,-92.745464,1925-10-01,2020-09-30,95.0,MO,10,1030,NaN,False
3169,01578310,1970-10-01,2020-09-30,50,0.9,True,0.000,86700.0,50,5.092655,...,39.657889,-76.174444,1967-10-01,2020-09-30,53.0,MD,2,205,Piedmont and Blue Ridge crystalline-rock aquifers,False
3166,01576000,1970-10-01,2020-09-30,50,0.9,True,0.000,89300.0,50,4.941344,...,40.054541,-76.530799,1931-10-01,2020-09-30,89.0,MD,2,205,Piedmont and Blue Ridge crystalline-rock aquifers,False
7574,12472800,1970-10-01,2020-09-30,50,0.9,True,0.000,179000.0,43,4.729287,...,46.628744,-119.864764,1917-10-01,2020-09-30,103.0,WA,17,1702,NaN,False
6142,01570500,1970-10-01,2020-09-30,50,0.9,True,0.000,79880.0,50,4.686550,...,40.254812,-76.886085,1900-10-01,2020-09-30,120.0,PA,2,205,NaN,False
3851,06895500,1970-10-01,2020-09-30,50,0.9,True,1.993,111000.0,41,4.531356,...,39.215019,-93.515212,1928-10-01,2020-09-30,92.0,MO,10,1030,NaN,False
3838,06893000,1970-10-01,2020-09-30,50,0.9,True,0.000,106000.0,44,4.028843,...,39.111722,-94.588139,1928-10-01,2020-09-30,92.0,MO,10,1030,NaN,False
2696,06486000,1970-10-01,2020-09-30,50,0.9,True,0.000,51200.0,24,3.801061,...,42.486194,-96.413083,1928-10-01,2020-09-30,92.0,IA,10,1023,Lower Cretaceous aquifers,False
108,02469761,1970-10-01,2020-09-30,50,0.9,True,0.033,82800.0,47,3.758101,...,31.758491,-88.129176,1960-10-01,2020-09-30,60.0,AL,3,316,Mississippi embayment aquifer system,False
105,02467000,1970-10-01,2019-10-08,50,0.9,True,2.004,67800.0,47,3.714969,...,32.519581,-87.878348,1928-08-01,2019-10-08,91.2,AL,3,316,NaN,False
6121,01554000,1970-10-01,2020-09-30,50,0.9,True,0.000,64900.0,50,3.655316,...,40.834529,-76.826635,1937-10-01,2020-09-30,83.0,PA,2,205,NaN,False
3830,06818000,1970-10-01,2020-09-30,50,0.9,True,0.000,82200.0,43,3.484578,...,39.753250,-94.856833,1928-10-01,2020-09-30,92.0,MO,10,1024,NaN,False
2578,05420500,1970-10-01,2020-09-30,50,0.9,True,0.000,110000.0,43,3.441365,...,41.780586,-90.252073,1900-10-01,2020-09-30,120.0,IA,7,708,NaN,False
5922,14211720,1972-10-01,2020-09-30,48,0.9,True,3.997,74900.0,46,3.356276,...,45.517500,-122.669167,1972-10-01,2020-09-30,48.0,OR,17,1709,Pacific Northwest basaltic-rock aquifers,False
2215,03377500,1970-10-01,2020-09-30,50,0.9,True,0.000,73200.0,47,3.226263,...,38.398333,-87.756389,1927-10-01,2020-09-30,93.0,IL,5,512,NaN,False
2700,06813500,1970-10-01,2020-09-30,50,0.9,True,0.000,75800.0,42,3.194767,...,40.052056,-95.421750,1949-10-01,2020-09-30,71.0,IA,10,1024,NaN,False
2699,06807000,1970-10-01,2020-09-30,50,0.9,True,0.000,68780.0,39,3.081778,...,40.681806,-95.847083,1929-08-11,2020-09-30,91.1,IA,10,1024,NaN,False
2203,13334300,1970-10-01,2020-09-30,50,0.9,True,0.000,73180.0,37,2.985188,...,46.097099,-116.977649,1958-07-22,2020-09-30,62.2,ID,17,1706,Columbia Plateau basaltic-rock aquifers,False
2698,06610000,1970-10-01,2020-09-30,50,0.9,True,0.000,58300.0,34,2.906539,...,41.259056,-95.923250,1928-09-01,2020-09-30,92.1,IA,10,1023,NaN,False
5422,06342500,1970-10-01,2020-09-30,50,0.9,True,0.000,34080.0,20,2.773406,...,46.814167,-100.821389,1927-10-01,2020-09-30,93.0,ND,10,1013,NaN,False
69,02428400,1975-10-01,2020-09-30,45,0.9,True,9.993,79240.0,45,2.749127,...,31.615158,-87.550548,1975-10-01,2020-09-30,45.0,AL,3,315,Mississippi embayment aquifer system,False
880,11530500,1970-10-01,2020-09-30,49,0.9,True,3.877,38300.0,45,2.714932,...,41.510954,-123.979516,1910-10-01,2020-09-30,110.0,CA,18,1801,California Coastal Basin aquifers,False
3713,05378500,1970-10-01,2020-09-30,50,0.9,True,0.000,70500.0,44,2.620777,...,44.055519,-91.637649,1928-07-01,2020-09-30,92.2,MN,7,704,Cambrian-Ordovician aquifer system,False
784,11447650,1970-10-01,2020-09-30,50,0.9,True,0.000,50600.0,33,2.585712,...,38.455664,-121.501617,1948-10-01,2020-09-30,72.0,CA,18,1802,Central Valley aquifer system,False
7525,12398600,1970-10-01,2020-09-30,49,0.9,True,1.999,48700.0,40,2.499819,...,48.998814,-117.353579,1962-12-01,2020-09-30,57.8,WA,17,1701,Pacific Northwest basin-fill aquifers,False
854,11477000,1970-10-01,2020-09-30,50,0.9,True,0.000,19600.0,49,2.492356,...,40.491524,-124.099770,1910-10-01,2020-09-30,110.0,CA,18,1801,NaN,False
6225,03086000,1970-10-01,2020-09-30,50,0.9,True,0.000,76400.0,50,2.313213,...,40.549186,-80.205605,1933-10-01,2020-09-30,87.0,PA,5,503,NaN,False
2005,12395500,1970-10-01,2020-09-30,50,0.9,True,0.000,48680.0,42,2.298496,...,48.182222,-117.034167,1903-07-01,2020-09-30,117.3,ID,17,1701,Pacific Northwest basin-fill aquifers,False
5897,14191000,1970-10-01,2020-09-30,50,0.9,True,0.000,51700.0,48,2.269693,...,44.944286,-123.042874,1909-10-01,2020-09-30,111.0,OR,17,1709,Willamette Lowland basin-fill aquifers,False
7524,12396500,1970-10-01,2020-09-30,50,0.9,True,0.000,49700.0,42,2.255049,...,48.781027,-117.416356,1952-10-01,2020-09-30,68.0,WA,17,1701,Pacific Northwest basin-fill aquifers,False
6084,01540500,1970-10-01,2020-09-30,50,0.9,True,0.000,38300.0,50,2.229824,...,40.958142,-76.619122,1905-04-01,2020-09-30,115.5,PA,2,205,NaN,False
3723,05344500,1970-10-01,2020-09-30,50,0.9,True,0.000,49200.0,42,2.219586,...,44.745801,-92.800203,1928-06-01,2020-09-30,92.3,MN,7,704,Cambrian-Ordovician aquifer system,False
6079,01536500,1970-10-01,2020-09-30,50,0.9,True,0.000,33900.0,50,2.159083,...,41.250915,-75.880752,1900-10-01,2020-09-30,120.0,PA,2,205,Valley and Ridge aquifers,False
4224,12389000,1970-10-01,2020-09-30,50,0.9,True,0.000,38200.0,42,2.133589,...,47.429200,-114.856533,1910-10-01,2020-09-30,110.0,MT,17,1701,Northern Rocky Mountains Intermontane Basins a...,False
424,07337000,1970-10-01,2020-09-30,50,0.9,True,0.016,38020.0,41,2.116567,...,33.551944,-94.041111,1936-10-01,2020-09-30,84.0,AR,11,1114,Mississippi embayment aquifer system,False
2182,13290450,1970-10-01,2020-09-30,50,0.9,True,0.000,35900.0,30,2.108133,...,45.254444,-116.696944,1965-07-15,2020-09-30,55.2,ID,17,1706,NaN,False
733,11303500,1970-10-01,2020-09-30,50,0.9,True,0.000,10600.0,20,2.085424,...,37.676041,-121.266329,1923-10-01,2020-09-30,97.0,CA,18,1804,Central Valley aquifer system,False
1655,02358000,1970-10-01,2020-09-30,50,0.9,True,0.000,44680.0,44,2.081071,...,30.701025,-84.859087,1922-07-01,2020-09-30,98.3,FL,3,313,Floridan aquifer system,False
3269,01646500,1970-10-01,2020-09-30,50,0.9,True,0.000,28100.0,50,2.062918,...,38.949778,-77.127639,1930-03-01,2020-09-30,90.6,MD,2,207,Piedmont and Blue Ridge crystalline-rock aquifers,False
780,11425500,1970-10-01,2020-09-30,50,0.9,True,0.000,42800.0,36,2.061179,...,38.774346,-121.598293,1929-10-01,2020-09-30,91.0,CA,18,1802,Central Valley aquifer system,False

## Describe data

In [61]:
# All valid gages
df_gages_boxplot = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_metrics = {}
        for metric in metric_list:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][metric]
            temp_df = temp_df.describe()
            df_metrics[metric] = temp_df
        df_gages_boxplot[f'{date_range}_{percentile}'] = df_metrics
            
# Valid HUC2 gages
df_huc2_boxplot = {}
# Loop through date ranges and percentiles
for date_range in date_ranges:
    for percentile in percentiles:
        df_huc2 = {}
        # Loop through HUC2 codes
        for huc2 in huc2_codes:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]
            df_metrics = {}
            # Loop through metrics
            for metric in metric_list:
                metrics_desc = temp_df[metric].describe()
                #print(metrics_desc)
                df_metrics[metric] = metrics_desc
            df_huc2[huc2] = df_metrics
        df_huc2_boxplot[f'{date_range}_{percentile}'] = df_huc2

        
# Valid aquifer gages
df_aq_boxplot = {}
# Loop through date ranges and percentiles
for date_range in date_ranges:
    for percentile in percentiles:
        df_aq = {}
        # Loop through aquifer codes
        for aq in aq_codes:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]
            df_metrics = {}
            # Loop through metrics
            for metric in metric_list:
                metrics_desc = temp_df[metric].describe()
                df_metrics[metric] = metrics_desc
            df_aq[aq] = df_metrics
        df_aq_boxplot[f'{date_range}_{percentile}'] = df_aq

In [63]:
df_aq_boxplot

{'30_90': {'hp': {'annual_hmf': count    71.000000
   mean      0.074278
   std       0.102579
   min       0.000144
   25%       0.005070
   50%       0.023778
   75%       0.104823
   max       0.471936
   Name: annual_hmf, dtype: float64,
   'annual_duration': count     71.000000
   mean      42.636637
   std       14.727166
   min       35.766667
   25%       37.586207
   50%       39.777778
   75%       42.134615
   max      156.428571
   Name: annual_duration, dtype: float64,
   'event_duration': count    71.000000
   mean      9.214366
   std       6.721655
   min       3.375205
   25%       5.026472
   50%       7.028424
   75%      11.517027
   max      33.884058
   Name: event_duration, dtype: float64,
   'event_hmf': count    71.000000
   mean      0.018771
   std       0.032820
   min       0.000036
   25%       0.000957
   50%       0.003951
   75%       0.020412
   max       0.155168
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     71.000000
   mean      88.210789
   std       12.441065
   min       23.333000
   25%       83.333000
   50%       90.000000
   75%       96.667000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    71.000000
   mean      5.670658
   std       2.065750
   min       1.769231
   25%       4.074176
   50%       5.259259
   75%       7.215659
   max      10.379310
   Name: intra_annual, dtype: float64,
   'timing': count     71.000000
   mean     231.469323
   std       25.396581
   min      173.956522
   25%      210.925926
   50%      234.566667
   75%      246.505385
   max      287.758621
   Name: timing, dtype: float64},
  'mr': {'annual_hmf': count    15.000000
   mean      0.421071
   std       0.613896
   min       0.039740
   25%       0.072979
   50%       0.145411
   75%       0.372556
   max       2.052730
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    15.000000
   mean     39.620942
   std       5.301851
   min      33.933333
   25%      36.483333
   50%      37.666667
   75%      40.436813
   max      54.800000
   Name: annual_duration, dtype: float64,
   'event_duration': count    15.000000
   mean     12.193068
   std       8.508854
   min       4.459923
   25%       7.063873
   50%       8.675672
   75%      13.639183
   max      33.966667
   Name: event_duration, dtype: float64,
   'event_hmf': count    15.000000
   mean      0.203667
   std       0.399048
   min       0.006715
   25%       0.018977
   50%       0.030463
   75%       0.093502
   max       1.425928
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     15.000000
   mean      92.650867
   std        9.849281
   min       66.667000
   25%       90.000000
   50%       96.429000
   75%      100.000000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    15.000000
   mean      4.454064
   std       1.924282
   min       1.650000
   25%       3.132143
   50%       4.666667
   75%       5.414432
   max       8.000000
   Name: intra_annual, dtype: float64,
   'timing': count     15.000000
   mean     151.978319
   std        8.901913
   min      142.629630
   25%      144.882143
   50%      147.931034
   75%      157.812821
   max      169.000000
   Name: timing, dtype: float64},
  'cv': {'annual_hmf': count    20.000000
   mean      0.642115
   std       0.744932
   min       0.001849
   25%       0.029926
   50%       0.347645
   75%       1.033864
   max       2.632442
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    20.000000
   mean     53.389355
   std      17.464895
   min      36.500000
   25%      41.446225
   50%      45.882576
   75%      61.571078
   max      90.916667
   Name: annual_duration, dtype: float64,
   'event_duration': count    20.000000
   mean     19.314277
   std      13.162557
   min       5.270135
   25%      10.683714
   50%      14.497882
   75%      22.278410
   max      52.569444
   Name: event_duration, dtype: float64,
   'event_hmf': count    20.000000
   mean      0.275814
   std       0.361156
   min       0.000420
   25%       0.005597
   50%       0.110798
   75%       0.332929
   max       1.230578
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     20.000000
   mean      73.626500
   std       18.970947
   min       40.000000
   25%       59.166750
   50%       78.333500
   75%       87.500250
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    20.000000
   mean      3.473505
   std       0.885525
   min       2.230769
   25%       2.986264
   50%       3.477273
   75%       3.701923
   max       6.100000
   Name: intra_annual, dtype: float64,
   'timing': count     20.000000
   mean     156.130326
   std       23.381396
   min      117.730769
   25%      142.888889
   50%      150.795455
   75%      167.572398
   max      223.857143
   Name: timing, dtype: float64},
  'br': {'annual_hmf': count    134.000000
   mean       0.046542
   std        0.077183
   min        0.000003
   25%        0.001511
   50%        0.009271
   75%        0.052237
   max        0.429059
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    134.000000
   mean      43.778699
   std       14.246877
   min        6.629630
   25%       36.500000
   50%       40.574074
   75%       49.784091
   max       91.083333
   Name: annual_duration, dtype: float64,
   'event_duration': count    134.000000
   mean      11.167014
   std       10.325505
   min        1.290653
   25%        3.296595
   50%        8.676622
   75%       15.945206
   max       62.347222
   Name: event_duration, dtype: float64,
   'event_hmf': count    1.340000e+02
   mean     1.514659e-02
   std      3.197645e-02
   min      7.552394e-07
   25%      2.663557e-04
   50%      1.450985e-03
   75%      1.345104e-02
   max      2.534442e-01
   Name: event_hmf, dtype: float64,
   'inter_annual%': count    134.000000
   mean      81.001351
   std       17.706369
   min       34.483000
   25%       70.000000
   50%       86.190500
   75%       96.667000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    134.000000
   mean       7.367817
   std        5.906587
   min        1.619048
   25%        3.523333
   50%        4.964286
   75%        9.191667
   max       28.000000
   Name: intra_annual, dtype: float64,
   'timing': count    134.000000
   mean     200.342396
   std       41.426757
   min       61.920000
   25%      174.402174
   50%      201.822105
   75%      227.811873
   max      303.827586
   Name: timing, dtype: float64},
  'fl': {'annual_hmf': count    47.000000
   mean      0.202973
   std       0.424568
   min       0.000757
   25%       0.020313
   50%       0.052849
   75%       0.122827
   max       2.514199
   Name: annual_hmf, dtype: float64,
   'annual_duration': count     47.000000
   mean      50.635000
   std       20.034863
   min       36.100000
   25%       39.125000
   50%       45.666667
   75%       52.142857
   max      153.571429
   Name: annual_duration, dtype: float64,
   'event_duration': count    47.000000
   mean     16.957059
   std      13.469218
   min       3.266975
   25%       8.047856
   50%      13.666227
   75%      19.197052
   max      71.290842
   Name: event_duration, dtype: float64,
   'event_hmf': count    47.000000
   mean      0.069424
   std       0.142875
   min       0.000252
   25%       0.005603
   50%       0.014212
   75%       0.051340
   max       0.551332
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     47.000000
   mean      77.642404
   std       17.236842
   min       23.333000
   25%       70.000000
   50%       80.000000
   75%       93.333000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    47.000000
   mean      4.152684
   std       2.038752
   min       1.714286
   25%       2.645257
   50%       3.650000
   75%       5.105263
   max      11.034483
   Name: intra_annual, dtype: float64,
   'timing': count     47.000000
   mean     209.632879
   std       38.752320
   min      153.862069
   25%      168.017857
   50%      215.421053
   75%      238.878788
   max      297.333333
   Name: timing, dtype: float64},
  'sr': {'annual_hmf': count    9.000000
   mean     0.128418
   std      0.257566
   min      0.002941
   25%      0.007336
   50%      0.019746
   75%      0.098080
   max      0.805153
   Name: annual_hmf, dtype: float64,
   'annual_duration': count     9.000000
   mean     54.912794
   std      18.631239
   min      36.066667
   25%      44.260870
   50%      49.636364
   75%      64.000000
   max      95.818182
   Name: annual_duration, dtype: float64,
   'event_duration': count     9.000000
   mean     22.427840
   std      13.255590
   min       8.722084
   25%      10.553140
   50%      22.412500
   75%      27.041667
   max      51.575758
   Name: event_duration, dtype: float64,
   'event_hmf': count    9.000000
   mean     0.055583
   std      0.107371
   min      0.000906
   25%      0.001697
   50%      0.011061
   75%      0.053562
   max      0.333643
   Name: event_hmf, dtype: float64,
   'inter_annual%': count      9.000000
   mean      68.015889
   std       23.306049
   min       36.667000
   25%       53.333000
   50%       73.333000
   75%       82.143000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    9.000000
   mean     3.029619
   std      0.991593
   min      1.916667
   25%      2.318182
   50%      2.500000
   75%      4.100000
   max      4.521739
   Name: intra_annual, dtype: float64,
   'timing': count      9.000000
   mean     192.537358
   std       75.384135
   min       43.545455
   25%      179.826087
   50%      239.750000
   75%      245.045455
   max      250.333333
   Name: timing, dtype: float64},
  'cl': {'annual_hmf': count    106.000000
   mean       0.295455
   std        0.437261
   min        0.003406
   25%        0.046294
   50%        0.110479
   75%        0.304904
   max        2.183813
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    106.000000
   mean      38.460862
   std        3.637625
   min       30.142857
   25%       36.466667
   50%       37.193487
   75%       38.937500
   max       53.578947
   Name: annual_duration, dtype: float64,
   'event_duration': count    106.000000
   mean       5.252531
   std        3.435774
   min        1.525282
   25%        2.956582
   50%        4.124708
   75%        6.619888
   max       18.765651
   Name: event_duration, dtype: float64,
   'event_hmf': count    106.000000
   mean       0.057248
   std        0.107952
   min        0.000180
   25%        0.004410
   50%        0.011455
   75%        0.040500
   max        0.572555
   Name: event_hmf, dtype: float64,
   'inter_annual%': count    106.000000
   mean      93.687585
   std        8.991656
   min       63.333000
   25%       90.775750
   50%       96.667000
   75%      100.000000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    106.000000
   mean       9.657642
   std        4.724244
   min        2.863636
   25%        5.739744
   50%        8.931034
   75%       12.275554
   max       23.833333
   Name: intra_annual, dtype: float64,
   'timing': count    106.000000
   mean     174.908342
   std       21.146798
   min      138.033333
   25%      156.222917
   50%      174.616667
   75%      190.283333
   max      225.052632
   Name: timing, dtype: float64},
  'cc': {'annual_hmf': count    65.000000
   mean      0.099958
   std       0.296537
   min       0.001283
   25%       0.005067
   50%       0.022403
   75%       0.072782
   max       2.240628
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    65.000000
   mean     38.918954
   std       4.565647
   min      23.666667
   25%      36.466667
   50%      36.533333
   75%      41.615385
   max      52.190476
   Name: annual_duration, dtype: float64,
   'event_duration': count    65.000000
   mean      7.623317
   std       5.125969
   min       1.956817
   25%       3.714069
   50%       6.330569
   75%      10.285878
   max      24.693750
   Name: event_duration, dtype: float64,
   'event_hmf': count    65.000000
   mean      0.021976
   std       0.058713
   min       0.000104
   25%       0.000745
   50%       0.003139
   75%       0.014353
   max       0.413686
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     65.000000
   mean      93.712692
   std        8.920372
   min       70.000000
   25%       86.667000
   50%      100.000000
   75%      100.000000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    65.000000
   mean      6.918653
   std       3.649260
   min       2.125000
   25%       4.133333
   50%       5.857143
   75%       9.433333
   max      18.300000
   Name: intra_annual, dtype: float64,
   'timing': count     65.000000
   mean     134.425506
   std       11.864499
   min      117.700000
   25%      125.758621
   50%      132.000000
   75%      139.857143
   max      183.714286
   Name: timing, dtype: float64},
  'pn': {'annual_hmf': count    65.000000
   mean      0.294114
   std       0.484087
   min       0.000284
   25%       0.055608
   50%       0.153320
   75%       0.312760
   max       2.435605
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    65.000000
   mean     41.520643
   std       7.653445
   min      33.666667
   25%      36.500000
   50%      38.892857
   75%      43.840000
   max      73.000000
   Name: annual_duration, dtype: float64,
   'event_duration': count    65.000000
   mean     13.210916
   std       8.605755
   min       3.204829
   25%       5.515820
   50%      10.677685
   75%      18.885000
   max      42.769608
   Name: event_duration, dtype: float64,
   'event_hmf': count    65.000000
   mean      0.122072
   std       0.305208
   min       0.000080
   25%       0.014538
   50%       0.032960
   75%       0.073153
   max       1.507150
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     65.000000
   mean      89.421354
   std       12.739117
   min       46.667000
   25%       83.333000
   50%       93.333000
   75%      100.000000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    65.000000
   mean      4.833396
   std       2.666918
   min       1.705882
   25%       2.766667
   50%       3.931034
   75%       7.000000
   max      11.733333
   Name: intra_annual, dtype: float64,
   'timing': count     65.000000
   mean     179.983237
   std       59.457628
   min       80.633333
   25%      128.821429
   50%      200.583333
   75%      234.172414
   max      279.615385
   Name: timing, dtype: float64},
  'na': {'annual_hmf': count    92.000000
   mean      0.056173
   std       0.104419
   min       0.000121
   25%       0.005133
   50%       0.013842
   75%       0.050067
   max       0.610606
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    92.000000
   mean     37.214756
   std       1.974358
   min      33.866667
   25%      36.366667
   50%      36.500000
   75%      37.724138
   max      49.636364
   Name: annual_duration, dtype: float64,
   'event_duration': count    92.000000
   mean      4.130824
   std       2.624468
   min       1.341730
   25%       2.143600
   50%       3.259562
   75%       5.065664
   max      13.467652
   Name: event_duration, dtype: float64,
   'event_hmf': count    92.000000
   mean      0.009863
   std       0.022678
   min       0.000008
   25%       0.000364
   50%       0.001313
   75%       0.006448
   max       0.121803
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     92.000000
   mean      97.607489
   std        4.317593
   min       73.333000
   25%       96.667000
   50%      100.000000
   75%      100.000000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    92.000000
   mean     11.499325
   std       5.829628
   min       2.888889
   25%       6.858238
   50%      10.217241
   75%      15.325000
   max      25.896552
   Name: intra_annual, dtype: float64,
   'timing': count     92.000000
   mean     181.513214
   std       12.709561
   min      152.724138
   25%      173.318966
   50%      182.050824
   75%      189.732759
   max      212.400000
   Name: timing, dtype: float64}},
 '30_95': {'hp': {'annual_hmf': count    71.000000
   mean      0.056688
   std       0.077988
   min       0.000087
   25%       0.003773
   50%       0.017380
   75%       0.082292
   max       0.340930
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    71.000000
   mean     24.942869
   std       9.997591
   min      17.866667
   25%      19.665714
   50%      22.416667
   75%      25.857143
   max      77.571429
   Name: annual_duration, dtype: float64,
   'event_duration': count    71.000000
   mean      6.725269
   std       5.385609
   min       2.531174
   25%       3.695589
   50%       4.846349
   75%       6.650577
   max      28.909091
   Name: event_duration, dtype: float64,
   'event_hmf': count    71.000000
   mean      0.019503
   std       0.034587
   min       0.000031
   25%       0.000894
   50%       0.003610
   75%       0.024241
   max       0.178493
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     71.000000
   mean      78.252479
   std       16.939479
   min       23.333000
   25%       70.000000
   50%       80.000000
   75%       91.296500
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    71.000000
   mean      4.209650
   std       1.296078
   min       1.692308
   25%       3.292174
   50%       4.291667
   75%       5.145833
   max       7.500000
   Name: intra_annual, dtype: float64,
   'timing': count     71.000000
   mean     234.030141
   std       22.839437
   min      189.565217
   25%      218.436957
   50%      233.285714
   75%      250.446897
   max      288.250000
   Name: timing, dtype: float64},
  'mr': {'annual_hmf': count    15.000000
   mean      0.276566
   std       0.445533
   min       0.017692
   25%       0.039469
   50%       0.076423
   75%       0.169954
   max       1.448359
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    15.000000
   mean     22.601616
   std       5.402618
   min      17.000000
   25%      18.689655
   50%      20.961538
   75%      23.717391
   max      36.466667
   Name: annual_duration, dtype: float64,
   'event_duration': count    15.000000
   mean      9.970515
   std       6.007656
   min       3.948522
   25%       5.664625
   50%       9.171154
   75%      10.670172
   max      24.777778
   Name: event_duration, dtype: float64,
   'event_hmf': count    15.000000
   mean      0.174538
   std       0.337640
   min       0.005519
   25%       0.018214
   50%       0.027849
   75%       0.067817
   max       1.170028
   Name: event_hmf, dtype: float64,
   'inter_annual%': count     15.000000
   mean      83.523933
   std       15.738855
   min       50.000000
   25%       76.667000
   50%       86.667000
   75%       96.667000
   max      100.000000
   Name: inter_annual%, dtype: float64,
   'intra_annual': count    15.000000
   mean      2.744932
   std       0.812976
   min       1.533333
   25%       2.176421
   50%       2.608696
   75%       3.203846
   max       4.517241
   Name: intra_annual, dtype: float64,
   'timing': count     15.000000
   mean     151.119222
   std        9.183597
   min      139.192308
   25%      143.074359
   50%      148.833333
   75%      159.478261
   max      166.277778
   Name: timing, dtype: float64},
  'cv': {'annual_hmf': count    20.000000
   mean      0.329609
   std       0.353035
   min       0.001782
   25%       0.024186
   50%       0.230155
   75%       0.480439
   max       1.275791
   Name: annual_hmf, dtype: float64,
   'annual_duration': count    20.000000
   mean     35.621661
   std      14.713964