# Tables
- Number of all and valid gages: US, HUC2, aquifer
- Distribution of HMF metrics: US, HUC2, aquifer
- Gages with the highest annual volume

In [1]:
# IMPORTS
import os
import numpy as np
import pandas as pd
import seaborn as sns
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
#import contextily as cx
import requests
import calendar
from importlib import reload

from datetime import datetime, timedelta
from shapely.geometry import Point
from io import StringIO
from mpl_toolkits.axes_grid1 import make_axes_locatable

# USGS Data retreival tool
from dataretrieval import nwis, utils, codes

# Custom modules are imported in multiple locations to faciliate easy reloading when edits are made to their respective files
import Src.classes as cl
import Src.func_ko as fn
reload(cl)
reload(fn)

In [3]:
km3_to_maf = (1000)**3 * (3.28)**3 / (43560) / 1000000
1*km3_to_maf

0.8100907254361798

### Import national metrics

In [3]:
# All gages - National metrics dfs
# data_paths = {
#     '30_90': 'Prelim_Data/National_Metrics/National_Metrics_30_90.xlsx',
#     '50_90': 'Prelim_Data/National_Metrics/National_Metrics_50_90.xlsx',
#     '30_95': 'Prelim_Data/National_Metrics/National_Metrics_30_95.xlsx',
#     '50_95': 'Prelim_Data/National_Metrics/National_Metrics_50_95.xlsx'    
# }

#dfs_metrics = {key: pd.read_excel(path, sheet_name='site_metrics') for key, path in data_paths.items()}

data_paths = {
    '30_90': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_30_90.xlsx',
    '50_90': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_50_90.xlsx',
    '30_95': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_30_95.xlsx',
    '50_95': 'Prelim_Data/National_Metrics/Station_names/National_Metrics_50_95.xlsx'    
}

dfs_valid = {key: pd.read_excel(path) for key, path in data_paths.items()}

In [4]:
# # Converts site_no to strings
# date_ranges = ['30', '50']
# percentiles = ['90', '95']
# for date_range in date_ranges:
#     for percentile in percentiles: 
#         # Assuming df is your DataFrame and 'column_name' is the name of the column with numbers
#         dfs_metrics[f'{date_range}_{percentile}']['site_no'] = dfs_metrics[f'{date_range}_{percentile}']['site_no'].astype(str)  # Convert numbers to strings

#         # Add leading '0' to numbers with 7 digits
#         dfs_metrics[f'{date_range}_{percentile}']['site_no'] = dfs_metrics[f'{date_range}_{percentile}']['site_no'].apply(lambda x: '0' + x if len(x) == 7 else x)

# Converts site_no to strings
date_ranges = ['30', '50']
percentiles = ['90', '95']
for date_range in date_ranges:
    for percentile in percentiles: 
        # Assuming df is your DataFrame and 'column_name' is the name of the column with numbers
        dfs_valid[f'{date_range}_{percentile}']['site_no'] = dfs_valid[f'{date_range}_{percentile}']['site_no'].astype(str)  # Convert numbers to strings

        # Add leading '0' to numbers with 7 digits
        dfs_valid[f'{date_range}_{percentile}']['site_no'] = dfs_valid[f'{date_range}_{percentile}']['site_no'].apply(lambda x: '0' + x if len(x) == 7 else x)

In [5]:
# Valid gages - National metrics dfs
# dfs_valid = {}
# for date_range in date_ranges:
#     for percentile in percentiles: 
#         dfs_valid[f'{date_range}_{percentile}'] = dfs_metrics[f'{date_range}_{percentile}'][dfs_metrics[f'{date_range}_{percentile}']['valid'] == True]

In [6]:
dfs_valid['30_90']['huc2_code']

0        3
1        3
2        3
3        3
4        3
        ..
4237    14
4238    14
4239    14
4240    14
4241    17
Name: huc2_code, Length: 4242, dtype: int64

In [7]:
from datetime import datetime, timedelta

def convert_day_of_year(day_number, base_year=2023):
    # Calculate the start date (October 1 of the base year)
    start_date = pd.to_datetime(f"{base_year}-10-01")
    
    # Adjust the day number by subtracting 1 to account for the start date
    adjusted_day_number = day_number - 0
    
    # Calculate the final date by adding the adjusted day number to the start date
    final_date = start_date + pd.DateOffset(days=adjusted_day_number)
    
    return final_date

convert_day_of_year(248)

# for date_range in date_ranges:
#     for percentile in percentiles: 
#         dfs_valid[f'{date_range}_{percentile}']['timing'] = pd.to_numeric(dfs_valid[f'{date_range}_{percentile}']['timing'])
#         dfs_valid[f'{date_range}_{percentile}']['timing'] = dfs_valid[f'{date_range}_{percentile}']['timing'].round()
#         dfs_valid[f'{date_range}_{percentile}']['com_date'] = convert_day_of_year(dfs_valid[f'{date_range}_{percentile}']['timing'].apply(convert_day_of_year))

Timestamp('2024-06-05 00:00:00')

## Sort by HUC2

In [150]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'huc2_all_gages_{date_range}_{percentile}.xlsx'
        dfs_valid[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for mean HMF metrics at huc2 gages

In [143]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'huc2_code']
print('Number of gages in CONUS (30-year record):', len(dfs_valid[f'30_90']))
print('Number of gages in CONUS (50-year record):', len(dfs_valid[f'50_90']))

df_mean_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_mean_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('huc2_code').mean()
        df_mean_metrics[f'{date_range}_{percentile}']['type'] = 'mean'

Number of gages in CONUS (30-year record): 4242
Number of gages in CONUS (50-year record): 3314

In [144]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'huc2_hmf_metrics_mean_{date_range}_{percentile}.xlsx'
        df_mean_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for min HMF metrics at huc2 gages

In [145]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'huc2_code']
#print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_min_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_min_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('huc2_code').min()
        df_min_metrics[f'{date_range}_{percentile}']['type'] = 'min'

In [146]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'huc2_hmf_metrics_min_{date_range}_{percentile}.xlsx'
        df_min_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for max HMF metrics at ALL aquifer gages

In [147]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'huc2_code']
#print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_max_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_max_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('huc2_code').max()
        df_max_metrics[f'{date_range}_{percentile}']['type'] = 'max'

In [148]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'huc2_hmf_metrics_max_{date_range}_{percentile}.xlsx'
        df_max_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Combine max, mean, and min tables and save as one excel file

In [149]:
# Save combined df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        # Combine the three dataframes
        df_combined = pd.concat([df_min_metrics[f'{date_range}_{percentile}'], 
                                 df_mean_metrics[f'{date_range}_{percentile}'], 
                                 df_max_metrics[f'{date_range}_{percentile}']])

        # Sort the combined dataframe to ensure the order is min, mean, max for each aquifer
        df_combined = df_combined.sort_values(by=['huc2_code', 'type'])

        # Save the combined dataframe to a new Excel file
        file_name = f'huc2_hmf_metrics_{date_range}_{percentile}.xlsx'
        df_combined.to_excel('Tables/'+file_name)

### Compare percentiles and date ranges

In [72]:
huc2_hmf_metrics_30_90 = pd.read_excel('Tables/huc2_hmf_metrics_30_90.xlsx')
huc2_hmf_metrics_30_90['type'] = huc2_hmf_metrics_30_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})

huc2_hmf_metrics_30_95 = pd.read_excel('Tables/huc2_hmf_metrics_30_95.xlsx')
huc2_hmf_metrics_30_95['type'] = huc2_hmf_metrics_30_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

huc2_hmf_metrics_50_90 = pd.read_excel('Tables/huc2_hmf_metrics_50_90.xlsx')
huc2_hmf_metrics_50_90['type'] = huc2_hmf_metrics_50_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})

huc2_hmf_metrics_50_95 = pd.read_excel('Tables/huc2_hmf_metrics_50_95.xlsx')
huc2_hmf_metrics_50_95['type'] = huc2_hmf_metrics_50_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\4053928047.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  huc2_hmf_metrics_30_90['type'] = huc2_hmf_metrics_30_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\4053928047.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  huc2_hmf_metrics_30_95['type'] = huc2_hmf_metrics_30_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\4053928047.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  huc2_hmf_metrics_50_90['type'] = huc2_hmf_metrics_50_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\4053928047.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  huc2_hmf_metrics_50_95['type'] = huc2_hmf_metrics_50_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

In [78]:
huc2_list = huc2_hmf_metrics_30_90['huc2_code'].tolist()
type_list = huc2_hmf_metrics_30_90['type'].tolist()

In [79]:
huc2_hmf_metrics_30_90_50 = ((huc2_hmf_metrics_30_90 - huc2_hmf_metrics_50_90) / huc2_hmf_metrics_30_90) * 100
huc2_hmf_metrics_30_90_50['huc2_code'] = huc2_list
huc2_hmf_metrics_30_90_50['type'] = type_list
file_name = f'huc2_hmf_metrics_30_90_50.xlsx'
huc2_hmf_metrics_30_90_50.to_excel('Tables/'+file_name)

huc2_hmf_metrics_30_90_95 = ((huc2_hmf_metrics_30_90 - huc2_hmf_metrics_30_95) / huc2_hmf_metrics_30_90) * 100
huc2_hmf_metrics_30_90_95['huc2_code'] = huc2_hmf_metrics_30_90['huc2_code']
huc2_hmf_metrics_30_90_95['type'] = type_list
file_name = f'huc2_hmf_metrics_30_90_95.xlsx'
huc2_hmf_metrics_30_90_95.to_excel('Tables/'+file_name)

In [112]:
#huc2_hmf_metrics_30_90_50

## Sort by AQUIFER

In [104]:
## Aquifer gages
dfs_valid['30_90']['within_aq'].unique()

aq_names_25_list = ['Southeastern Coastal Plain aquifer system',
       'Coastal lowlands aquifer system', 'Floridan aquifer system',
       'Valley and Ridge aquifers',
       'Piedmont and Blue Ridge crystalline-rock aquifers',
       'Mississippi embayment aquifer system',
       'Basin and Range basin-fill aquifers',
       'Mississippi River Valley alluvial aquifer',
       'Pacific Northwest basin-fill aquifers',
       'California Coastal Basin aquifers',
       'Central Valley aquifer system',
       'Pacific Northwest basaltic-rock aquifers',
       'Northern Atlantic Coastal Plain aquifer system',
       'Surficial aquifer system', 'Biscayne aquifer',
       'Northern Rocky Mountains Intermontane Basins aquifer system',
       'Snake River Plain basaltic-rock aquifers',
       'Columbia Plateau basaltic-rock aquifers',
       'Cambrian-Ordovician aquifer system', 'Silurian-Devonian aquifers',
       'Lower Cretaceous aquifers', 'High Plains aquifer',
       'Rio Grande aquifer system', 'Edwards-Trinity aquifer system',
       'Willamette Lowland basin-fill aquifers']

aq_names_10_list = {'High Plains aquifer',
                'Mississippi River Valley alluvial aquifer',
                'Central Valley aquifer system',
                'Basin and Range basin-fill aquifers',
                'Floridan aquifer system',
                'Snake River Plain basaltic-rock aquifers',
                'Coastal lowlands aquifer system',
                'California Coastal Basin aquifers', 
                'Pacific Northwest basin-fill aquifers',
                'Northern Atlantic Coastal Plain aquifer system'}


dfs_aq = {}
date_ranges = ['30', '50']
percentiles = ['90', '95']
for date_range in date_ranges:
    for percentile in percentiles: 
        dfs_aq[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25)]
print(len(dfs_aq['30_90']))

dfs_aq_10 = {}
date_ranges = ['30', '50']
percentiles = ['90', '95']
for date_range in date_ranges:
    for percentile in percentiles: 
        dfs_aq_10[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_10)]
print(len(dfs_aq_10['30_90']))

1690
624

In [19]:
counts = dfs_aq['30_90']['within_aq'].value_counts()
counts_df = counts.reset_index()
counts_df.columns = ['within_aq', 'count']
counts_df.to_excel('Tables/aq_counts.xlsx')

In [31]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_all_gages_{date_range}_{percentile}.xlsx'
        dfs_aq[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)
        
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'10_aq_all_gages_{date_range}_{percentile}.xlsx'
        dfs_aq_10[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for mean HMF metrics at ALL aquifer gages

In [112]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'within_aq']
print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_mean_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_mean_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('within_aq').mean()
        df_mean_metrics[f'{date_range}_{percentile}']['type'] = 'mean'

Number of gages in 25 most pumped aqs: 1299

In [113]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_all_mean_{date_range}_{percentile}.xlsx'
        df_mean_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for min HMF metrics at ALL aquifer gages

In [114]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'within_aq']
print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_min_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_min_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('within_aq').min()
        df_min_metrics[f'{date_range}_{percentile}']['type'] = 'min'

Number of gages in 25 most pumped aqs: 1299

In [115]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_all_min_{date_range}_{percentile}.xlsx'
        df_min_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for max HMF metrics at ALL aquifer gages

In [116]:
# All gages in each aquifer
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'within_aq']
print('Number of gages in 25 most pumped aqs:', len(dfs_valid[f'{date_range}_{percentile}'].loc[dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25.values())]))

df_max_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_max_metrics[f'{date_range}_{percentile}'] = dfs_valid[f'{date_range}_{percentile}'][metric_list].groupby('within_aq').max()
        df_max_metrics[f'{date_range}_{percentile}']['type'] = 'max'

Number of gages in 25 most pumped aqs: 1299

In [117]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_all_max_{date_range}_{percentile}.xlsx'
        df_max_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Combine max, mean, and min tables and save as one excel file

In [118]:
# Save combined df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        # Combine the three dataframes
        df_combined = pd.concat([df_min_metrics[f'{date_range}_{percentile}'], 
                                 df_mean_metrics[f'{date_range}_{percentile}'], 
                                 df_max_metrics[f'{date_range}_{percentile}']])

        # Sort the combined dataframe to ensure the order is min, mean, max for each aquifer
        df_combined = df_combined.sort_values(by=['within_aq', 'type'])

        # Save the combined dataframe to a new Excel file
        file_name = f'aq_hmf_metrics_all_{date_range}_{percentile}.xlsx'
        df_combined.to_excel('Tables/'+file_name)

In [113]:
aq_hmf_metrics_all_30_90 = pd.read_excel('Tables/aq_hmf_metrics_all_30_90.xlsx')
aq_hmf_metrics_all_30_90['type'] = aq_hmf_metrics_all_30_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})

aq_hmf_metrics_all_30_95 = pd.read_excel('Tables/aq_hmf_metrics_all_30_95.xlsx')
aq_hmf_metrics_all_30_95['type'] = aq_hmf_metrics_all_30_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

aq_hmf_metrics_all_50_90 = pd.read_excel('Tables/aq_hmf_metrics_all_50_90.xlsx')
aq_hmf_metrics_all_50_90['type'] = aq_hmf_metrics_all_50_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})

aq_hmf_metrics_all_50_95 = pd.read_excel('Tables/aq_hmf_metrics_all_50_95.xlsx')
aq_hmf_metrics_all_50_95['type'] = aq_hmf_metrics_all_50_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\1868654585.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  aq_hmf_metrics_all_30_90['type'] = aq_hmf_metrics_all_30_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\1868654585.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  aq_hmf_metrics_all_30_95['type'] = aq_hmf_metrics_all_30_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\1868654585.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  aq_hmf_metrics_all_50_90['type'] = aq_hmf_metrics_all_50_90['type'].replace({'max': 1, 'mean': 2, 'min': 3})
C:\Users\kondris\AppData\Local\Temp\ipykernel_224532\1868654585.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  aq_hmf_metrics_all_50_95['type'] = aq_hmf_metrics_all_50_95['type'].replace({'max': 1, 'mean': 2, 'min': 3})

In [116]:
aq_list = aq_hmf_metrics_all_30_90['within_aq'].tolist()
type_list = aq_hmf_metrics_all_30_90['type'].tolist()

In [120]:
aq_hmf_metrics_all_30_90 = aq_hmf_metrics_all_30_90.drop('within_aq', axis=1)
aq_hmf_metrics_all_50_90 = aq_hmf_metrics_all_50_90.drop('within_aq', axis=1)
aq_hmf_metrics_all_30_95 = aq_hmf_metrics_all_30_95.drop('within_aq', axis=1)

aq_hmf_metrics_all_30_90_50 = ((aq_hmf_metrics_all_30_90 - aq_hmf_metrics_all_50_90) / aq_hmf_metrics_all_30_90) * 100
aq_hmf_metrics_all_30_90_50['within_aq'] = aq_list
aq_hmf_metrics_all_30_90_50['type'] = type_list
file_name = f'aq_hmf_metrics_all_30_90_50.xlsx'
aq_hmf_metrics_all_30_90_50.to_excel('Tables/'+file_name)

aq_hmf_metrics_all_30_90_95 = ((aq_hmf_metrics_all_30_90 - aq_hmf_metrics_all_30_95) / aq_hmf_metrics_all_30_90) * 100
aq_hmf_metrics_all_30_90_95['within_aq'] = aq_list
aq_hmf_metrics_all_30_90_95['type'] = type_list
file_name = f'aq_hmf_metrics_all_30_90_95.xlsx'
aq_hmf_metrics_all_30_90_95.to_excel('Tables/'+file_name)

### Highest gages of a certain metric

In [15]:
date_range = '30'
percentile = '90'
metric = 'annual_hmf'
df = dfs_valid[f'{date_range}_{percentile}']
df = df.dropna(subset='within_aq')
df = df.sort_values(by=[metric], ascending=False)
df[[metric, 'station_nm']][0:40]

      annual_hmf                                         station_nm
3084    8.263256                   COLUMBIA RIVER AT THE DALLES, OR
1461    5.576072                   Missouri River at Sioux City, IA
1462    5.218621                      Missouri River at Decatur, NE
1691    4.847182                 SUSQUEHANNA RIVER AT CONOWINGO, MD
1689    4.750100                  Susquehanna River at Marietta, PA
59      3.461525  TOMBIGBEE R AT COFFEEVILLE L&D NR COFFEEVILLE,...
3144    3.373229                   WILLAMETTE RIVER AT PORTLAND, OR
1125    2.801779                       SNAKE RIVER NEAR ANATONE, WA
34      2.667782    ALABAMA RIVER AT CLAIBORNE L&D NEAR MONROEVILLE
432     2.632442                         SACRAMENTO R A FREEPORT CA
1991    2.579267                    MISSISSIPPI RIVER AT WINONA, MN
868     2.514199            APALACHICOLA RIVER AT CHATTAHOOCHEE FLA
4037    2.435605       PEND OREILLE RIVER AT INTERNATIONAL BOUNDARY
871     2.308209                 APALACHICOLA RIVER NR SUMATRA,FLA.
3133    2.293901                      WILLAMETTE RIVER AT SALEM, OR
989     2.273490                   PEND OREILLE RIVER AT NEWPORT WA
475     2.240628                            KLAMATH R NR KLAMATH CA
4036    2.220437  PEND OREILLE RIVER BELOW BOX CANYON NEAR IONE, WA
209     2.211587                             Red River at Index, AR
3623    2.183813                          Brazos Rv nr Rosharon, TX
3245    2.159788              Susquehanna River at Wilkes-Barre, PA
3621    2.139836                          Brazos Rv at Richmond, TX
1733    2.095934  POTOMAC RIVER NEAR WASH, DC LITTLE FALLS PUMP STA
1997    2.064639                  MISSISSIPPI RIVER AT PRESCOTT, WI
197     2.052730                   White River at DeValls Bluff, AR
2212    2.003322                          Clark Fork near Plains MT
912     1.889939                   ALTAMAHA RIVER AT DOCTORTOWN, GA
405     1.881519                       SAN JOAQUIN R NR VERNALIS CA
417     1.847741        SACRAMENTO R AB BEND BRIDGE NR RED BLUFF CA
3561    1.799783                          Trinity Rv at Romayor, TX
910     1.797112                     ALTAMAHA RIVER NEAR BAXLEY, GA
1984    1.779757                  MISSISSIPPI RIVER AT ST. PAUL, MN
429     1.755173                           SACRAMENTO R A VERONA CA
886     1.659191                       SAVANNAH RIVER NEAR CLYO, GA
54      1.607686                BLACK WARRIOR RIVER AT NORTHPORT AL
1727    1.605883                POTOMAC RIVER AT POINT OF ROCKS, MD
1092    1.594011                      SALMON RIVER AT WHITE BIRD ID
56      1.542279  BLACK WARRIOR RIVER AT SELDEN L & D NEAR EUTAW...
196     1.514082                         White River at Newport, AR
2021    1.470620                    PASCAGOULA RIVER AT MERRILL, MS

## Sort by OUTLET GAGES

In [105]:
# Outlet gages by aquifer
br_outlet_gages = ['09520500', '09429600', '09521100', '09519800', '09468500', '09423000', '10327500', '10351650', '10351650', '10311400']
cc_outlet_gages = ['11023000', '11046000', '11078000', '11087020', '11133000', '11140000', '11152500', '11159000', '11467000', '11477000', '11530500', '11532500']
cv_outlet_gages = ['11303500', '11447650']
cl_outlet_gages = ['08211000', '08188500', '08176500', '08164000', '08162000', '08116650', '08066500', '08033500', '08068000', '08030500',
      '08013500', '08012000', '07378500', '02492000', '02489500', '02479000', '02479300', '02469761', '02428400', '02375500']
fl_outlet_gages = ['02368000', '02365500', '02358000', '02320500', '02313230']
hp_outlet_gages = ['06465500', '06805500', '06853500', '06884000', '07144550', '07158000', '07237500', '07228000', '07297910', '08123850']
mr_outlet_gages = ['07077000', '07077555', '07047942', '07369000', '07369000', '07285500', '07268000']
na_outlet_gages = ['02105769', '02089500', '02091500', '02083500',  '02085000', '02052000', '02047000', '02049500',  '02041650', '02037500', '01668000', 
      '01673000',  '01646500', '01578310', '01474500',  '01463500']
pn_outlet_gages = ['11039800', '12200500', '12040500', '14211720',  '14372300']
sr_outlet_gages = ['13269000']
cp_outlet_gages = ['13342500', '13334300', '12472800', '12510500', '13351000', '14033500', '14048000', '14103000']
rg_outlet_gages = ['08319000']
me_outlet_gages = ['07029500', '07268000', '07283000', '07285500', '07289350', '02482550', '02477000', '02469761', '02428400', 
                   '07362000', '07363500', '07348700']
co_outlet_gages = ['05378500', '05407000', '05437500', '04082400']
sc_outlet_gages = ['02130561', '02171500', '02197000', '02223248', '02343801', '02467000']
bi_outlet_gages = ['02287497', '02289060', '02290765', '02290769']
et_outlet_gages = ['07337000', '08062700', '08159200', '08168500']
rm_outlet_gages = ['12389000', '06066500', '13302500']
pb_outlet_gages = ['02341475', '02339500', '02347500', '02213000', '02223000', '02197000', '02169500', 
'02148000', '02130561', '02102500', '02089000', '02083500' ,'02080500', '01646500', '01578310']
sa_outlet_gages = ['02359170', '02243960', '02296750', '02292900', '02226000', '02202500', '02198500', '02175000', '02171645']
vr_outlet_gages = ['02388500', '02397000', '03513000', '03455000', '03168000', '02019500', '01638500', '01570500']
sd_outlet_gages = ['05465500', '05420500', '05527500', '03335500']
pnb_outlet_gages = ['13087995', '12395500']
wl_outlet_gages = ['14211720']
lc_outlet_gages = ['05476750', '05479000', '05482300', '05483450', '06602020', '06606600', '06607200',
       '06809210', '06486000', '06601200', '06864500', '06865500', '06868200', '06869500',
       '06876700', '06884025', '06884200', '05061500', '05304500', '05313500', '05317000',
       '05476000', '06078200', '06090300', '06200000', '06601000', '06803000', '06803500',
       '06803510', '06803530', '06804000', '06881000', '05085000', '06395000', '06400000',
       '06402500', '06406000', '06414000', '06430500', '06433000', '06436000', '06436190',
       '06429997', '06279500', '06634620']

outlet_gages_dict_10 = {
    'br': br_outlet_gages, 
    'cc': cc_outlet_gages,
    'cv': cv_outlet_gages,
    'cl': cl_outlet_gages,
    'fl': fl_outlet_gages,
    'hp': hp_outlet_gages,
    'mr': mr_outlet_gages,
    'na': na_outlet_gages,
    'pn': pn_outlet_gages,
    'sr': sr_outlet_gages
}

outlet_gages_dict_25 = {
    'br': br_outlet_gages, 
    'cc': cc_outlet_gages,
    'cv': cv_outlet_gages,
    'cl': cl_outlet_gages,
    'fl': fl_outlet_gages,
    'hp': hp_outlet_gages,
    'mr': mr_outlet_gages,
    'na': na_outlet_gages,
    'pn': pn_outlet_gages,
    'sr': sr_outlet_gages,
    'cp': cp_outlet_gages,
    'rg': rg_outlet_gages,
    'me': me_outlet_gages,
    'co': co_outlet_gages,
    'sc': sc_outlet_gages,
    'bi': bi_outlet_gages,
    'et': et_outlet_gages,
    'rm': rm_outlet_gages,
    'pb': pb_outlet_gages,
    'sa': sa_outlet_gages,
    'vr': vr_outlet_gages,
    'sd': sd_outlet_gages,
    'pnb': pnb_outlet_gages,
    'wl': wl_outlet_gages,
    'lc': lc_outlet_gages}

aq_names_10 = {'hp': 'High Plains aquifer',
                'mr': 'Mississippi River Valley alluvial aquifer',
                'cv': 'Central Valley aquifer system',
                'br': 'Basin and Range basin-fill aquifers',
                'fl': 'Floridan aquifer system',
                'sr': 'Snake River Plain basaltic-rock aquifers',
                'cl': 'Coastal lowlands aquifer system',
                'cc': 'California Coastal Basin aquifers', 
                'pn': 'Pacific Northwest basin-fill aquifers',
                'na': 'Northern Atlantic Coastal Plain aquifer system'}

aq_names_25 = {'hp': 'High Plains aquifer',
                'mr': 'Mississippi River Valley alluvial aquifer',
                'cv': 'Central Valley aquifer system',
                'br': 'Basin and Range basin-fill aquifers',
                'fl': 'Floridan aquifer system',
                'sr': 'Snake River Plain basaltic-rock aquifers',
                'cl': 'Coastal lowlands aquifer system',
                'cc': 'California Coastal Basin aquifers', 
                'pn': 'Pacific Northwest basin-fill aquifers',
                'na': 'Northern Atlantic Coastal Plain aquifer system',
                'cp': 'Columbia Plateau basaltic-rock aquifers',
                'rg': 'Rio Grande aquifer system',
                'me': 'Mississippi embayment aquifer system',
                'co': 'Cambrian-Ordovician aquifer system',
                'sc': 'Southeastern Coastal Plain aquifer system',
                'bi': 'Biscayne aquifer',
                'et': 'Edwards-Trinity aquifer system',
                'rm': 'Northern Rocky Mountains Intermontane Basins aquifer system',
                'pb': 'Piedmont and Blue Ridge crystalline-rock aquifers',
                'sa': 'Surficial aquifer system',
                'vr': 'Valley and Ridge aquifers',
                'sd': 'Silurian-Devonian aquifers',
                'pnb': 'Pacific Northwest basaltic-rock aquifers',
                'wl': 'Willamette Lowland basin-fill aquifers',
                'lc': 'Lower Cretaceous aquifers'
              }

aq_codes_10 = ['hp', 'mr', 'cv', 'br', 'fl', 'sr', 'cl', 'cc', 'pn', 'na']

aq_codes_25 = ['hp', 'mr', 'cv', 'br', 'fl', 'sr', 'cl', 'cc', 'pn', 'na',
              'cp', 'rg', 'me', 'co', 'sc', 'bi', 'et', 'rm', 'pb', 'sa',
              'vr', 'sd', 'pnb', 'wl', 'lc']

In [25]:
df_outlet_gages = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        df_outlet_gages_aq = {}
        df_temp = dfs_valid[f'{date_range}_{percentile}']

        for key, value in outlet_gages_dict_25.items():
            df_outlet_gages_aq[key] = df_temp[df_temp['site_no'].isin(value)].copy()
            #print(df_outlet_gages_aq)
            # Add the key as a column to each DataFrame
            df_outlet_gages_aq[key].loc[:, 'aq'] = aq_names_25[key]

            #print(df_outlet_gages_aq)
       
        df_outlet_gages[f'{date_range}_{percentile}'] = df_outlet_gages_aq

### Tables for mean HMF metrics at aquifer OUTLET gages

In [119]:
# Mean HMF metrics: OUTLET GAGES (by aquifer)
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'aq']

df_mean_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df = pd.concat(df_outlet_gages[f'{date_range}_{percentile}'].values(), ignore_index=True)
        df_mean_metrics[f'{date_range}_{percentile}'] = df[metric_list].groupby('aq').mean()
        df_mean_metrics[f'{date_range}_{percentile}']['type'] = 'mean'

# OLD CODE
# metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
#                'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
#               'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
#                'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf']
#
#         data = {metric: [] for metric in metric_list}
        
#         # Loop through each aq code and metric to calculate the average and store in the dictionary
#         for aq in aq_codes_25:
#             for metric in metric_list:
#                 avg = df_outlet_gages[f'{date_range}_{percentile}'][aq][metric].mean()
#                 data[metric].append(avg)
        
#         # Convert the dictionary to a DataFrame
#         df_mean_metrics[f'{date_range}_{percentile}'] = pd.DataFrame(data, index=list(aq_names_25.values())) # index can also =aq_codes_25
#         df_mean_metrics[f'{date_range}_{percentile}']['type'] = 'mean'

In [120]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_outlet_mean_{date_range}_{percentile}.xlsx'
        df_mean_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for min HMF metrics at aquifer OUTLET gages

In [121]:
# Min HMF metrics: OUTLET GAGES (by aquifer)
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'aq']

df_min_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df = pd.concat(df_outlet_gages[f'{date_range}_{percentile}'].values(), ignore_index=True)
        df_min_metrics[f'{date_range}_{percentile}'] = df[metric_list].groupby('aq').min()
        df_min_metrics[f'{date_range}_{percentile}']['type'] = 'min'

In [122]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_outlet_min_{date_range}_{percentile}.xlsx'
        df_min_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Tables for max HMF metrics at aquifer OUTLET gages

In [123]:
# Max HMF metrics: OUTLET GAGES (by aquifer)
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing',
              'jan_hmf', 'feb_hmf', 'mar_hmf', 'apr_hmf', 'may_hmf', 'jun_hmf', 'jul_hmf',
               'aug_hmf', 'sep_hmf', 'oct_hmf', 'nov_hmf', 'dec_hmf', 'aq']

df_max_metrics = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df = pd.concat(df_outlet_gages[f'{date_range}_{percentile}'].values(), ignore_index=True)
        df_max_metrics[f'{date_range}_{percentile}'] = df[metric_list].groupby('aq').max()
        df_max_metrics[f'{date_range}_{percentile}']['type'] = 'max'

In [124]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_hmf_metrics_outlet_max_{date_range}_{percentile}.xlsx'
        df_max_metrics[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Combine max, mean, and min tables and save as one excel file

In [126]:
# Save combined df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        # Combine the three dataframes
        df_combined = pd.concat([df_min_metrics[f'{date_range}_{percentile}'], 
                                 df_mean_metrics[f'{date_range}_{percentile}'], 
                                 df_max_metrics[f'{date_range}_{percentile}']])

        # Sort the combined dataframe to ensure the order is min, mean, max for each aquifer
        df_combined = df_combined.sort_values(by=['aq', 'type'])

        # Save the combined dataframe to a new Excel file
        file_name = f'aq_hmf_metrics_outlet_{date_range}_{percentile}.xlsx'
        df_combined.to_excel('Tables/'+file_name)

### Tables for sum of annual HMF at aquifer OUTLET gages

In [53]:
# Sum of annual HMF: OUTLET gages (by aquifer)
metric = 'annual_hmf'
df_sum_annual_hmf = {}
for date_range in date_ranges:
    for percentile in percentiles:

        # Loop through each aq code to calculate the sum of the annual_hmf
        sum_list = []
        for aq in aq_codes_25:
            sums = df_outlet_gages[f'{date_range}_{percentile}'][aq][metric].sum()
            sum_list.append(sums)
            
        df_sum_annual_hmf[f'{date_range}_{percentile}'] = pd.DataFrame(sum_list, list(aq_names_25.values()))

In [54]:
# Save df to excel
for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'aq_annual_hmf_sum_outlet_{date_range}_{percentile}.xlsx'
        df_sum_annual_hmf[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

### Boxplots

In [11]:
metric = 'timing'
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing']
aq_colors = ['red', 'blue', 'green', 'yellow', 'orange', 'purple', 'cyan', 'magenta', 'lime', 'pink']
alpha_list = [0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8, 0.8]
date_range = '30'
percentile = '90'

def outlet_gages_metrics_boxplot(metric, date_range, percentile):
    fig, ax = plt.subplots(figsize=(18, 6))
    # plt.boxplot([df_outlet_gages[f'{date_range}_{percentile}']['hp'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['mr'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cv'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['br'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['fl'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['sr'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cl'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['cc'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['pn'][metric],
    #              df_outlet_gages[f'{date_range}_{percentile}']['na'][metric]
    #             ])

    for j, aq_code in enumerate(aq_codes):
        ax.boxplot(df_outlet_gages[f'{date_range}_{percentile}'][aq_code][metric], positions=[j], widths=0.6, patch_artist=True,
                boxprops=dict(facecolor=aq_colors[j], alpha=alpha_list[j]), 
                medianprops=dict(color='#000000'),
                showmeans=True, meanprops={"marker":"x", "markeredgecolor":"black", "markersize":"10"})

    tick_labels = ['High Plains',
                    'Mississippi \n River Valley',
                    'Central Valley ',
                    'Basin and \n Range',
                    'Floridan',
                    'Snake River \n Plain',
                    'Coastal \n Lowlands',
                    'California \n Coastal Basin ', 
                    'Pacific \n Northwest ',
                    'Northern Atlantic \n Coastal Plain']

    plt.xticks([0,1,2,3,4,5,6,7,8,9], tick_labels, fontsize=14)
    plt.tick_params(axis='y', which='major', labelsize=18)
    plt.ylabel(f'{fn.FLOW_METRIC_UNITS[metric]}', fontsize=20)
    plt.title(f'{fn.FLOW_METRIC_UNITS[metric]} ({date_range}-Year Record, {percentile}th Percentile)', fontsize=24)

    plt.savefig(f'Saved_Visuals/Aquifers/HMF_metrics/boxplots_{metric}_{date_range}_{percentile}.png', bbox_inches='tight')

    plt.show()
    return
              
# for date_range in date_ranges:
#     for percentile in percentiles:
#         for metric in metric_list:
#               outlet_gages_metrics_boxplot(metric, date_range, percentile)

### Sort by HUC2

In [12]:
df_temp = dfs_valid['30_90']
huc2_codes = dfs_valid['30_90']['huc2_code'].unique().tolist()
#huc2_codes
dict_huc2 = {}
for huc2_code in huc2_codes:
    dict_huc2[huc2_code] = df_temp[df_temp['huc2_code'] == huc2_code]['site_no'].unique().tolist()
#dict_huc2

In [13]:
df_huc2_gages = {}
for date_range in date_ranges:
    for percentile in percentiles: 
        df_huc2_huc = {}
        df_temp = dfs_valid[f'{date_range}_{percentile}']

        for key, value in dict_huc2.items():
            df_huc2_huc[key] = df_temp[df_temp['site_no'].isin(value)]
       
        df_huc2_gages[f'{date_range}_{percentile}'] = df_huc2_huc

In [21]:
huc2_codes = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
colors = ['red', 'blue', 'green', 'yellow', 'orange', 'purple', 'cyan', 'magenta', 'lime', 'pink',
               'teal', 'lavender', 'brown', 'black', 'maroon', 'lightblue', 'coral', 'olive']
metric_list = ['annual_hmf', 'annual_duration', 'event_duration',
               'event_hmf', 'inter_annual%', 'intra_annual', 'timing']

def huc2_gages_metrics_boxplot(metric, date_range, percentile):
    fig, ax = plt.subplots(figsize=(20, 6))
    # plt.boxplot([df_huc2_gages[f'{date_range}_{percentile}'][1][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][2][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][3][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][4][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][5][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][6][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][7][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][8][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][9][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][10][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][11][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][12][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][13][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][14][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][15][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][16][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][17][metric],
    #              df_huc2_gages[f'{date_range}_{percentile}'][18][metric]
    #             ])

    for j, code in enumerate(huc2_codes):
        ax.boxplot(df_huc2_gages[f'{date_range}_{percentile}'][code][metric], positions=[j], widths=0.6, patch_artist=True,
                boxprops=dict(facecolor=colors[j]), #alpha=alpha_list[j]), 
                medianprops=dict(color='#000000'),
                showmeans=True, meanprops={"marker":"x", "markeredgecolor":"black", "markersize":"10"})

    tick_labels = ['HUC1', 'HUC2', 'HUC3', 'HUC4', 'HUC5', 'HUC6', 'HUC7', 'HUC8', 'HUC9',
                   'HUC10', 'HUC11', 'HUC12', 'HUC13', 'HUC14', 'HUC15', 'HUC16', 'HUC17', 'HUC18']

    plt.xticks([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17], tick_labels, fontsize=14)
    plt.tick_params(axis='y', which='major', labelsize=18)
    plt.ylabel(f'{fn.FLOW_METRIC_UNITS[metric]}', fontsize=20)
    plt.title(f'{fn.FLOW_METRIC_UNITS[metric]} ({date_range}-Year Record, {percentile}th Percentile)', fontsize=24)

    plt.savefig(f'Saved_Visuals/HUC2/HMF_metrics/boxplots_{metric}_{date_range}_{percentile}.png', bbox_inches='tight')

    plt.show()
    return

# for date_range in date_ranges:
#     for percentile in percentiles:
#         for metric in metric_list:
#               huc2_gages_metrics_boxplot(metric, date_range, percentile)

## Count valid gages

In [41]:
df_gages_count = pd.DataFrame()
all_30 = len(dfs_metrics['30_90'])
all_50 = len(dfs_metrics['50_90'])
valid_30 = len(dfs_valid['30_90'][dfs_valid['30_90']['valid'] == True])
valid_50 = len(dfs_valid['50_90'][dfs_valid['50_90']['valid'] == True])
df_gages_count['data_range'] = ['30', '50']
df_gages_count['all_gages'] = [all_30, all_50]
df_gages_count['valid_gages'] = [valid_30, valid_50]
df_gages_count

  data_range  all_gages  valid_gages
0         30       7914         4242
1         50       7914         3314

In [35]:
date_range = '30'
percentile = '90'
df_aq_count_30_90 = pd.DataFrame()

num_gages_aq = []
num_gages_aq_outlet = []
for aq in aq_codes:
    num_gages_aq.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]))
    num_gages_aq_outlet.append(len(df_outlet_gages[f'{date_range}_{percentile}'][aq]))

df_aq_count_30_90['aq'] = aq_names_10.keys()    
df_aq_count_30_90['valid_all'] = num_gages_aq
df_aq_count_30_90['valid_outlet'] = num_gages_aq_outlet

date_range = '50'
percentile = '90'
df_aq_count_50_90 = pd.DataFrame()

num_gages_aq = []
num_gages_aq_outlet = []
for aq in aq_codes:
    num_gages_aq.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]))
    num_gages_aq_outlet.append(len(df_outlet_gages[f'{date_range}_{percentile}'][aq]))

df_aq_count_50_90['aq'] = aq_names_10.keys()    
df_aq_count_50_90['valid_all'] = num_gages_aq
df_aq_count_50_90['valid_outlet'] = num_gages_aq_outlet

In [36]:
print(df_aq_count_30_90)
print(df_aq_count_50_90)

   aq  valid_all  valid_outlet
0  hp         71            11
1  mr         15             6
2  cv         20             2
3  br        134             9
4  fl         47             5
5  sr          9             1
6  cl        106            20
7  cc         65            12
8  pn         65             4
9  na         92            16
   aq  valid_all  valid_outlet
0  hp         63            11
1  mr         11             3
2  cv         17             2
3  br         90             7
4  fl         34             5
5  sr          6             1
6  cl         90            20
7  cc         55            11
8  pn         52             4
9  na         72            15

In [42]:
date_range = '30'
percentile = '90'
df_huc2_count_30_90 = pd.DataFrame()

num_gages_huc2 = []
for huc2 in huc2_codes:
    num_gages_huc2.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]))

df_huc2_count_30_90['huc2'] = huc2_codes   
df_huc2_count_30_90['valid_all'] = num_gages_huc2

date_range = '50'
percentile = '90'
df_huc2_count_50_90 = pd.DataFrame()

num_gages_huc2 = []
for huc2 in huc2_codes:
    num_gages_huc2.append(len(dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]))

df_huc2_count_50_90['huc2'] = huc2_codes      
df_huc2_count_50_90['valid_all'] = num_gages_huc2

In [47]:
print(df_huc2_count_30_90)
print(df_huc2_count_50_90)
print(df_huc2_count_30_90.sum())
print(df_huc2_count_50_90.sum())

    huc2  valid_all
0      1        164
1      2        440
2      3        549
3      4        234
4      5        324
5      6         47
6      7        319
7      8         49
8      9         60
9     10        399
10    11        259
11    12        211
12    13         71
13    14        159
14    15        147
15    16        127
16    17        446
17    18        237
    huc2  valid_all
0      1        144
1      2        360
2      3        361
3      4        184
4      5        289
5      6         38
6      7        255
7      8         46
8      9         53
9     10        312
10    11        197
11    12        177
12    13         61
13    14        119
14    15         99
15    16         90
16    17        328
17    18        201
huc2          171
valid_all    4242
dtype: int64
huc2          171
valid_all    3314
dtype: int64

## Import annual subdfs

In [65]:
subdfs_metrics_30_90 = pd.read_parquet(f'Prelim_Data/annual_metrics_subdf_30_90.parquet', engine='pyarrow') # only includes valid gages

In [90]:
test_df = subdfs_metrics_30_90[['site_no', 'water_year', 'annual_hmf']]
pivot_df = test_df.pivot(index='site_no', columns='water_year', values='annual_hmf')
pivot_df

water_year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
site_no,,,,,,,,,,,,,,,,,,,,,
01010000,0.748652,0.441949,0.430720,0.765338,0.251239,0.660845,0.706228,0.535800,0.186796,0.557501,...,1.004075,3.246850e-01,0.440261,0.568486,0.400088,0.225648,0.730817,0.920353,0.893979,0.601931
01010070,0.089350,0.077409,0.055046,0.109819,0.032152,0.097750,0.106775,0.076489,0.034719,0.072326,...,0.121326,6.393195e-02,0.064016,0.091186,0.058018,0.063367,0.137806,0.113423,0.108348,0.066785
01010500,1.490209,0.869758,0.860705,1.477976,0.524301,1.457425,1.489475,0.996246,0.433044,1.055942,...,1.864046,6.882217e-01,0.851408,1.251913,0.773852,0.624366,1.775969,1.690094,1.781596,1.159187
01011000,0.617682,0.242206,0.249509,0.535658,0.106394,0.427794,0.537750,0.401270,0.150004,0.510955,...,0.601466,2.112178e-01,0.235003,0.416512,0.248658,0.178030,0.559138,0.577957,0.522483,0.379469
01013500,0.365078,0.131626,0.126830,0.250064,0.111735,0.260340,0.352233,0.253025,0.089985,0.295595,...,0.274677,6.850412e-02,0.107429,0.238884,0.090450,0.112958,0.410095,0.428346,0.394535,0.170331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265501080364900,0.000000,0.000000,0.001703,0.000000,0.000000,0.001473,0.000000,0.000000,0.000000,0.007372,...,0.000000,0.000000e+00,0.026599,0.010978,0.005808,0.004553,0.002202,0.000000,0.000000,0.000000
393109104464500,NaN,0.002206,0.000607,0.000163,0.002542,0.000146,0.000516,0.005090,0.008260,0.001128,...,0.000314,7.821702e-04,0.000653,0.000000,0.003974,0.001431,0.000822,0.000127,0.001657,0.001510
394839104570300,NaN,0.006014,0.000869,0.001906,0.013830,0.004191,0.034095,0.004876,0.018420,0.004470,...,0.007535,4.181198e-03,0.024184,0.000000,0.011570,0.004061,0.002728,0.002640,0.002048,0.000847
401723105400000,0.000000,0.000053,0.000219,0.000106,0.000414,0.000396,0.000254,0.000283,0.000307,0.000103,...,0.000602,0.000000e+00,0.000219,0.000253,0.000333,0.000254,0.000266,0.000029,0.000317,0.000051
401733105392404,0.000424,0.000028,0.000494,0.000246,0.001003,0.000899,0.001172,0.000663,0.000862,0.000602,...,0.002080,7.339727e-07,0.000883,0.000752,0.001361,0.000744,0.001164,0.000123,0.001263,0.000296

In [93]:
nan_rows = pivot_df[pivot_df.isna().any(axis=1)]
len(nan_rows)

180

In [69]:
# Only 
len(list(subdfs_metrics_30_90['site_no'].unique()))
total_hmf_30_90 = subdfs_metrics_30_90['annual_hmf'].sum()
print(f'Total HMF (30-year, 90th percentile): {total_hmf_30_90} km3')

Total HMF (30-year, 90th percentile): 23658.686901018093 km3

## Sort data

In [60]:
data_range = '30'
percentile = '90'
top_50_annual_hmf = dfs_valid[f'{date_range}_{percentile}'].sort_values(by=['annual_hmf'], ascending=False)[0:50]
#top_50_annual_hmf

## Describe data

In [28]:
date_range = '30'
percentile = '90'
metric = 'annual_hmf'

# CONUS
df = dfs_valid[f'{date_range}_{percentile}']

# Top 25
#df = dfs_aq[f'{date_range}_{percentile}']

# Top 10
#df = dfs_aq[f'{date_range}_{percentile}']
#df = df.loc[df['within_aq'].isin(aq_names_10)]

n = 15
high_value = 100
top_value = df.sort_values(by=[metric], ascending=False)[0:n].reset_index()
high_value = df[df[metric] > high_value].reset_index()

high_value = 0.15
low_value = 0.015
mid_annual_value = df[(df[metric] <= high_value) & (df[metric] >= low_value)].reset_index()

#low_annual_hmf = 

print(len(mid_annual_value))
print(len(df))
print(len(mid_annual_value) / len(df) * 100)
#high_annual_hmf

df[metric].describe()

2057
4242
48.49127769919849

count    4242.000000
mean        0.209971
std         0.682611
min         0.000003
25%         0.015643
50%         0.053223
75%         0.162787
max        14.069366
Name: annual_hmf, dtype: float64

In [29]:
date_range = '30'
percentile = '90'
metric = 'annual_hmf'
n = 164
top_annual_hmf = dfs_valid[f'{date_range}_{percentile}'].sort_values(by=[metric], ascending=False)[0:n].reset_index()
high_annual_hmf = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['annual_hmf'] > 3.0].reset_index()
print(len(high_annual_hmf))
print(len(dfs_valid[f'{date_range}_{percentile}']))
print(len(high_annual_hmf) / len(dfs_valid[f'{date_range}_{percentile}']) * 100)
#high_annual_hmf

# Greater than 4 km3 - Missouri R, Ohio R, Susequehana R, Columbia R

32
4242
0.7543611504007544

In [106]:
# All valid gages
df_gages_boxplot = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_metrics = {}
        for metric in metric_list:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][metric]
            temp_df = temp_df.describe()
            df_metrics[metric] = temp_df
        df_gages_boxplot[f'{date_range}_{percentile}'] = df_metrics

# All valid aquifer gages (25 grouped)
df_aq25_grouped_boxplot = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_metrics = {}
        for metric in metric_list:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25_list)]
            temp_df = temp_df[metric].describe()
            df_metrics[metric] = temp_df
        df_aq25_grouped_boxplot[f'{date_range}_{percentile}'] = df_metrics

# All valid aquifer gages (10 grouped)
df_aq10_grouped_boxplot = {}
for date_range in date_ranges:
    for percentile in percentiles:
        df_metrics = {}
        for metric in metric_list:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_10_list)]
            temp_df = temp_df[metric].describe()
            df_metrics[metric] = temp_df
        df_aq10_grouped_boxplot[f'{date_range}_{percentile}'] = df_metrics
            
# Valid HUC2 gages
df_huc2_boxplot = {}
# Loop through date ranges and percentiles
for date_range in date_ranges:
    for percentile in percentiles:
        df_huc2 = {}
        # Loop through HUC2 codes
        for huc2 in huc2_codes:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['huc2_code'] == huc2]
            df_metrics = {}
            # Loop through metrics
            for metric in metric_list:
                metrics_desc = temp_df[metric].describe()
                #print(metrics_desc)
                df_metrics[metric] = metrics_desc
            df_huc2[huc2] = df_metrics
        df_huc2_boxplot[f'{date_range}_{percentile}'] = df_huc2

        
# Valid aquifer gages
df_aq_boxplot = {}
# Loop through date ranges and percentiles
for date_range in date_ranges:
    for percentile in percentiles:
        df_aq = {}
        # Loop through aquifer codes
        for aq in aq_codes_10:
            temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'] == aq_names_10[aq]]
            df_metrics = {}
            # Loop through metrics
            for metric in metric_list:
                metrics_desc = temp_df[metric].describe()
                df_metrics[metric] = metrics_desc
            df_aq[aq] = df_metrics
        df_aq_boxplot[f'{date_range}_{percentile}'] = df_aq

In [109]:
# data = df_gages_boxplot
# name = 'valid_gages'

#data = df_huc2_boxplot
#name = 'huc2'

# data = df_aq_boxplot
# name = 'aq'

data = df_aq25_grouped_boxplot
name = 'aq25_grouped'

#data = df_aq10_grouped_boxplot
#name = 'aq10_grouped'

dfs = {}

# Loop over the outer dictionary and convert each nested dictionary into a DataFrame
for key, metrics in data.items():
    # Convert the inner dictionary to a DataFrame
    df = pd.DataFrame(metrics)
    dfs[key] = df

for date_range in date_ranges:
    for percentile in percentiles:
        file_name = f'boxplot_{name}_{date_range}_{percentile}.xlsx'
        dfs[f'{date_range}_{percentile}'].to_excel('Tables/'+file_name)

In [111]:
date_range = '30'
percentile = '90'
temp_df = dfs_valid[f'{date_range}_{percentile}'][dfs_valid[f'{date_range}_{percentile}']['within_aq'].isin(aq_names_25_list)]
temp_df['annual_duration'].describe()

count    1690.000000
mean       40.115056
std         8.903198
min         6.629630
25%        36.464881
50%        36.627315
75%        40.555556
max       156.428571
Name: annual_duration, dtype: float64